<section class="top-header-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="top-sm-ban">
                    <img src="assets/images/multiplex-bg.webp" class="img-fluid">

                </div>
                <div class="mobile">
                    <img src="assets/images/multiplex-top.webp" class="img-fluid">
                </div>
            </div>


        </div>
    </div>
</section>
<section class="top-bar-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="top-text-sm">

                    <ul>
                        <li class="frisr-child"><a href="#">Trending</a></li>
                        <li><a href="">New</a></li>
                        <li><a href="#">Genre1</a></li>
                        <li><a href="#">Genre1</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-12 col-12">
                <div class="search-btn">
                    <a href=""><img src="assets/images/search.svg" class="img-fluid"></a>
                </div>

            </div>

        </div>

    </div>
</section>

<section class="sec-owl">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <owl-carousel-o [options]="customOptionsforshortflim" class="sl-im-pd" id="shortflim">
                    <ng-template carouselSlide>
                    <div class="it-main">
                            <a href="#">
                                <div class="it-main-im">
                                    <img src="assets/images/beguni.jpg" class="img-fluid">
                                </div>
                                <div class="bottom-img">
                                    
                                    <div class="block-n-text">
                                        <div class="row">
                                            <div class="col-8">
                                                <p>Baguni Phool</p>
                                            </div>
                                            <div class="col-4 p-0">
                                                <span class="bg-f-img"><img src="assets/images/rating.svg"
                                                        class="img-fluid"><span class="rating-text">8.5/10</span></span>
                                            </div>
                                        </div>
                                        <div class="row text-bg">
                                            <div class="col-5">
                                                <p>1hr <span>23min</span></p>
                                            </div>
                                            <div class="col-4">
                                                <p>2022</p>
                                            </div>
                                            <div class="col-3 p-0">
                                                <p>Thriller</p>
                                            </div>
                                        </div>
                                        <img src="assets/images/book-n.webp" class="img-fluid">
                                        <div class="book-now">
                                            <div class="row">
                                                <div class="col-8 bg-f-img-text">
                                                    <p>Book Now</p>
                                                </div>
                                                <div class="col-4 p-0">
                                                    <span class="bg-f-img-text">100<img src="assets/images/ruppee.png"
                                                            class="img-fluid"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="it-main">
                                <a href="#">
                                    <div class="it-main-im">
                                        <img src="assets/images/beguni.jpg" class="img-fluid">
                                    </div>
                                    <div class="bottom-img">
                                        
                                        <div class="block-n-text">
                                            <div class="row">
                                                <div class="col-8">
                                                    <p>Baguni Phool</p>
                                                </div>
                                                <div class="col-4 p-0">
                                                    <span class="bg-f-img"><img src="assets/images/rating.svg"
                                                            class="img-fluid"><span class="rating-text">8.5/10</span></span>
                                                </div>
                                            </div>
                                            <div class="row text-bg">
                                                <div class="col-5">
                                                    <p>1hr <span>23min</span></p>
                                                </div>
                                                <div class="col-4">
                                                    <p>2022</p>
                                                </div>
                                                <div class="col-3 p-0">
                                                    <p>Thriller</p>
                                                </div>
                                            </div>
                                            <img src="assets/images/book-n.webp" class="img-fluid">
                                            <div class="book-now">
                                                <div class="row">
                                                    <div class="col-8 bg-f-img-text">
                                                        <p>Book Now</p>
                                                    </div>
                                                    <div class="col-4 p-0">
                                                        <span class="bg-f-img-text">100<img src="assets/images/ruppee.png"
                                                                class="img-fluid"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="it-main">
                                    <a href="#">
                                        <div class="it-main-im">
                                            <img src="assets/images/beguni.jpg" class="img-fluid">
                                        </div>
                                        <div class="bottom-img">
                                            
                                            <div class="block-n-text">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <p>Baguni Phool</p>
                                                    </div>
                                                    <div class="col-4 p-0">
                                                        <span class="bg-f-img"><img src="assets/images/rating.svg"
                                                                class="img-fluid"><span class="rating-text">8.5/10</span></span>
                                                    </div>
                                                </div>
                                                <div class="row text-bg">
                                                    <div class="col-5">
                                                        <p>1hr <span>23min</span></p>
                                                    </div>
                                                    <div class="col-4">
                                                        <p>2022</p>
                                                    </div>
                                                    <div class="col-3 p-0">
                                                        <p>Thriller</p>
                                                    </div>
                                                </div>
                                                <img src="assets/images/book-n.webp" class="img-fluid">
                                                <div class="book-now">
                                                    <div class="row">
                                                        <div class="col-8 bg-f-img-text">
                                                            <p>Book Now</p>
                                                        </div>
                                                        <div class="col-4 p-0">
                                                            <span class="bg-f-img-text">100<img src="assets/images/ruppee.png"
                                                                    class="img-fluid"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
        
                                        </div>
                                    </a>
                                </div>
                            </ng-template>
                   
                   
                </owl-carousel-o>
            
            </div>
        </div>
    </div>

</section>
<section class="second-part">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-8">
                <p>Recommended For you</p>
            </div>
            <div class="col-md-4 col-4">
                <p>View All</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <owl-carousel-o [options]="customOptionsforshowflim" class="sl-im-pd" id="showflim">
                    <ng-template carouselSlide>
                                    <div class="t-b-s-background">
                                                    
                                                <div class="show-box new-box">
                                                    <img src="assets/images/beguni.jpg" class="img-fluid">
                                                </div> 
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-3">
                                            
                                            </div>
                                            <div class="col-9 chat-chati">
                                            <ul>
                                                <li><span class="movie">Chat Chati</span></li>
                                                <li><span>2 hr 02 min</span><span class="main-date">2022</span></li>
                                                <li><span>Comedy, Romance, Muisc</span></li>
                                            <li class="star">
                                                    <span><img src="assets/images/rating.svg" class="img-fluid"></span>
                                                    <span class="date-text">8.5/10</span>
                                                    <span class="main-whistlist-new"><img src="assets/logo/wishlist.svg" class="img-fluid"></span>
                                                </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="t-b-s-background">
                                        
                                    <div class="show-box new-box">
                                        <img src="assets/images/beguni.jpg" class="img-fluid">
                                    </div> 
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                
                                </div>
                                <div class="col-9 chat-chati">
                                <ul>
                                    <li><span class="movie">Chat Chati</span></li>
                                    <li><span>2 hr 02 min</span><span class="main-date">2022</span></li>
                                    <li><span>Comedy, Romance, Muisc</span></li>
                                <li class="star">
                                        <span><img src="assets/images/rating.svg" class="img-fluid"></span>
                                        <span class="date-text">8.5/10</span>
                                        <span class="main-whistlist-new"><img src="assets/logo/wishlist.svg" class="img-fluid"></span>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
        </ng-template>
        
        <ng-template carouselSlide>
            <div class="t-b-s-background">
                            
                        <div class="show-box new-box">
                            <img src="assets/images/beguni.jpg" class="img-fluid">
                        </div> 
            <div class="container">
                <div class="row">
                    <div class="col-3">
                    
                    </div>
                    <div class="col-9 chat-chati">
                    <ul>
                        <li><span class="movie">Chat Chati</span></li>
                        <li><span>2 hr 02 min</span><span class="main-date">2022</span></li>
                        <li><span>Comedy, Romance, Muisc</span></li>
                    <li class="star">
                            <span><img src="assets/images/rating.svg" class="img-fluid"></span>
                            <span class="date-text">8.5/10</span>
                            <span class="main-whistlist-new"><img src="assets/logo/wishlist.svg" class="img-fluid"></span>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
</ng-template>

<ng-template carouselSlide>
    <div class="t-b-s-background">
                    
                <div class="show-box new-box">
                    <img src="assets/images/beguni.jpg" class="img-fluid">
                </div> 
    <div class="container">
        <div class="row">
            <div class="col-3">
            
            </div>
            <div class="col-9 chat-chati">
            <ul>
                <li><span class="movie">Chat Chati</span></li>
                <li><span>2 hr 02 min</span><span class="main-date">2022</span></li>
                <li><span>Comedy, Romance, Muisc</span></li>
            <li class="star">
                    <span><img src="assets/images/rating.svg" class="img-fluid"></span>
                    <span class="date-text">8.5/10</span>
                    <span class="main-whistlist-new"><img src="assets/logo/wishlist.svg" class="img-fluid"></span>
                </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>
</ng-template>

                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<section class="thirt-part">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-8">
                <p>Upcoming films</p>
            </div>
            <div class="col-md-4 col-4">
                <p>View All</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <owl-carousel-o [options]="customOptionsforupcoming" class="sl-im-pd" id="upcoming">
                    <ng-template carouselSlide>
                        <div class="t-b-s-background">
                                 
                            <div class="show-box new-box">
                                <img src="assets/images/poster3.webp" class="img-fluid">
                             </div> 
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                           
                        </div>
                        <div class="col-9 chat-chati">
                          <ul>
                            <li><span class="movie">Sur</span></li>
                            <li><span>2 hr 02 min</span></li>
                            <li><span>Musical , Thriller , Drama</span></li>
                             <li class="cal">
                                 <span><img src="assets/images/calender.png" class="img-fluid"></span>
                                 <span class="date-text">Thursday, 30 June 2022</span>
                                 <span class="main-whistlist-new"><img src="assets/logo/wishlist.svg" class="img-fluid"></span>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="t-b-s-background">
                                 
                            <div class="show-box new-box">
                                <img src="assets/images/poster3.webp" class="img-fluid">
                             </div> 
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                           
                        </div>
                        <div class="col-9 chat-chati">
                          <ul>
                            <li><span class="movie">Sur</span></li>
                            <li><span>2 hr 02 min</span></li>
                            <li><span>Musical , Thriller , Drama</span></li>
                             <li class="cal">
                                 <span><img src="assets/images/calender.png" class="img-fluid"></span>
                                 <span class="date-text">Thursday, 30 June 2022</span>
                                 <span class="main-whistlist-new"><img src="assets/logo/wishlist.svg" class="img-fluid"></span>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
                    </ng-template>
                    
                    <ng-template carouselSlide>
                        <div class="t-b-s-background">
                                 
                            <div class="show-box new-box">
                                <img src="assets/images/poster3.webp" class="img-fluid">
                             </div> 
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                           
                        </div>
                        <div class="col-9 chat-chati">
                          <ul>
                            <li><span class="movie">Sur</span></li>
                            <li><span>2 hr 02 min</span></li>
                            <li><span>Musical , Thriller , Drama</span></li>
                             <li class="cal">
                                 <span><img src="assets/images/calender.png" class="img-fluid"></span>
                                 <span class="date-text">Thursday, 30 June 2022</span>
                                 <span class="main-whistlist-new"><img src="assets/logo/wishlist.svg" class="img-fluid"></span>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
                    </ng-template>
                    
                    <ng-template carouselSlide>
                        <div class="t-b-s-background">
                                 
                            <div class="show-box new-box">
                                <img src="assets/images/poster3.webp" class="img-fluid">
                             </div> 
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                           
                        </div>
                        <div class="col-9 chat-chati">
                          <ul>
                            <li><span class="movie">Sur</span></li>
                            <li><span>2 hr 02 min</span></li>
                            <li><span>Musical , Thriller , Drama</span></li>
                             <li class="cal">
                                 <span><img src="assets/images/calender.png" class="img-fluid"></span>
                                 <span class="date-text">Thursday, 30 June 2022</span>
                                 <span class="main-whistlist-new"><img src="assets/logo/wishlist.svg" class="img-fluid"></span>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
                    </ng-template>
                    
                    
                  
        
        



                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>


<app-welcomefooter></app-welcomefooter>