.body-strucre{margin-bottom: 100px;}
.t-b-s-background {
        background: #462aa1;
        border-radius: 10px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .top-text-sm ul li{
        position: relative;
    }
   /* .top-text-sm ul li:nth-child(4):after {
    position: absolute;
    content: '';
    width: 81px;
    height: 20px;
    left: 56px;
   background-color: #181b3e;
} */
    
  
    .date-text{font-size: 12px;margin: 0 5px;}
    .top-header-sec{background-image: url(/assets/images/banner-bg.jpg);background-size: cover;background-repeat: no-repeat;}
    /* .top-sm-ban{margin-top: -40px;} */
    .mobile img{margin-top: -155px;padding: 18px 15px;}
    .top-text-sm ul li {display: inline-block;list-style: none;margin: 20px 8px;font-weight:500;}
    .view-all a{color: #fff;}
  
    .top-text-sm ul li a{color:#59429d; }
    .top-text-sm ul {padding: 0;}
    .search-btn {
    position: absolute;
    top: -60px;
    width: 7%;
    right: 24px;
}
    
    
        .it-main{
        position: relative;
    }
    .it-main-im img{
        border-radius: 20px;
    }
 
    .bottom-img {background-image: url(/assets/images/movie-block-bg.webp);background-repeat: no-repeat;background-size: cover;border-radius: 20px;}
    .bottom-img{
        position: relative;
    }
   
   .block-n-text {
    padding: 15px 15px;height: 161px;}
    .bottom-img {
    position: relative;
    margin-top: -138px;
    margin-left: 20px;
    margin-right: 20px;
}
    .bottom-img img{
        border-radius: 20px;
      
    }
    .block-n-text p{
        font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1rem;
        color: #fff
    }
    
    
    .bg-f-img{
        display: inline-flex;
        margin: 5px 17px;
    }
    .bg-f-img img{
        width: 15% !important;
    margin-right: 5px;
    }
    .rating-text{
        color: #fff;
        font-size: 12px;
    }
    .text-bg p{font-size: 12px;}
    .bg-f-img-text p{font-size: 18px;
    color: #000000;
    font-weight: 500;
   padding: 0 9px;
}
    .book-now{
    position: relative;
    top: -38px!important;;
    left: 13px;
    }
   
    
    .bg-f-img-text img {
    width: 11px !important;
    margin: -13px 54px;
}
    .second-part{margin: 5px 10px;}
    .thirt-part p{color: #fff;font-size: 14px;}
    .thirt-part{margin: 5px 10px;}
    .second-part p{color: #fff; font-size: 14px;}
    .owl-prev span{padding: 4px 10px;
    background: #4a3884;
    border-radius: 3px;} 
    .owl-next span{padding: 4px 10px;
    background: #4a3884;
    border-radius: 3px;
    }
    .owl-nav{text-align: right !important;}
   
    .show-box img{border-radius: 10px;}
    .chat-chati ul li{list-style: none;}
    .chat-chati ul li{color: #fff;line-height:1.5rem;}
   
    .movie{font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    }
    .chat-chati li{font-size: 13px;}
    .bg-f-img1 img {
 width: 6% !important;
    margin: -8px 5px 0 -1px;


}
.fourth-part p{color: #fff;font-size: 14px;}
.fourth-part {margin: 5px 10px;}
    .bg-f-img1 {
    display: inline-flex;
    }
    .show-box{margin: 10px;}
    .show-box img{
   width: 26% !important;
    position: fixed;
    top: 0px;
    left: 10px;}
    .chat-chati ul{padding: 10px 16px;
    margin: 0 0px;}
    .frisr-child a{color: #fff!important;font-size: 20px;}
   
    .main-date{float: right;margin: 0 -15px;}
    .main-whistlist img {
    width: 20%!important;
    float: right;
    margin: 0 -2px;
}
    
    .cal img{width: 8% !important;display: inline-block !important;}
    .star img{width: 6% !important;display: inline-block !important;}
   
    .main-whistlist-new img {
    width: 13%!important;
    float: right;
    margin: 0 -15px 10px 0;
}
#celb .owl-dot.active span, #celb .owl-dot:hover span {
    background: #ab96f3;
    border: 2px solid #ab96f3;
}
#celb .owl-dot.active span, #celb .owl-dot:hover span {
    background: #ab96f3;
    border: 2px solid #ab96f3;
}
#celb .owl-dot span {
    border: 2px solid #05fffb;
    background-color: transparent;
}
.view-all p{float: right; font-size: 12px;}
.view-all a:hover{color: #05fffb;}
.book-m-new img{border-radius: 0;}



    
    
     
    
    

 @media (min-width: 320px) and (max-width: 380px) {
    .bg-f-img-text img {
        width: 10px !important;
        margin: -13px 36px;
    }
    .show-box img{
        width: 28% !important;
         position: absolute;
         top: 4px;
         left: 9px;}
     
}
    
    



   