<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a routerLink="/ottcne"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>  Cafe Netwood Episode</h2>  
                </div>
                <div class="col-md-6 col-2">
                    <p class="mp-p">4</p>
                </div>
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1910.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/trickstep-by-mayookh-pt-2" class="cf-txt-a-tag">
                            Trickstep by Mayoo...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/trickstep-by-mayookh-pt-2']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1872.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/beat-bangla-by-mayookh" class="cf-txt-a-tag">
                            Beat Bangla by May...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/beat-bangla-by-mayookh']"class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1871.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/choosing-for-you-by-mayookh" class="cf-txt-a-tag">
                            Choosing For You b...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/choosing-for-you-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                        <img src="assets/images/netwood/1870.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/club-action-by-mayookh" class="cf-txt-a-tag">
                            Club Action by May...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/club-action-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1869.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/dhaak-bass-by-mayookh" class="cf-txt-a-tag">
                            Dhaak & Bass by Ma...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/dhaak-bass-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1868.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/dirty-vibe-by-mayookh" class="cf-txt-a-tag">
                            Dirty Vibe by Mayo...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/dirty-vibe-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1867.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/eapt-by-mayookh" class="cf-txt-a-tag">
                            E-APT by Mayookh </a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/eapt-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1866.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/filter-system-by-mayookh" class="cf-txt-a-tag">
                            Filter System by M...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/filter-system-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1865.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/fzck-by-mayookh" class="cf-txt-a-tag">
                            FZCK by Mayookh </a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/fzck-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1864.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/humri-ataria-by-mayookh" class="cf-txt-a-tag"> 
                            Humri Ataria by Ma...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/humri-ataria-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1863.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/jaja-by-mayookh" class="cf-txt-a-tag">
                            Jaja by Mayookh </a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/jaja-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1862.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/jiya-jale-by-mayookh" class="cf-txt-a-tag"> 
                            Jiya Jale by Mayoo...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/jiya-jale-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1861.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/jungle-jam-by-mayookh" class="cf-txt-a-tag"> 
                            Jungle Jam by Mayo...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/jungle-jam-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1860.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/jungle-pump-by-mayookh" class="cf-txt-a-tag">
                            Jungle Pump by May...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/jungle-pump-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1859.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/kahe-so-serious-by-mayookh" class="cf-txt-a-tag">
                            Kahe So Serious by...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/kahe-so-serious-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1858.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/middle-finger-by-mayookh" class="cf-txt-a-tag"> 
                            Middle Finger by M...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/middle-finger-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1857.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/next-order-by-mayookh" class="cf-txt-a-tag">
                           Next Order by Mayo...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/next-order-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1856.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/on-my-tab-by-mayookh" class="cf-txt-a-tag">
                            On My Tab by Mayoo...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/on-my-tab-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1855.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/teri-soorat-by-mayookh" class="cf-txt-a-tag">
                            Teri Soorat by May...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/teri-soorat-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1854.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/trickstep-by-mayookh" class="cf-txt-a-tag">
                            Trickstep by Mayoo...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/trickstep-by-mayookh']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
<app-ottfooter></app-ottfooter>

