<ngx-alerts></ngx-alerts>
<div class="ref-margin-div">
    <div class="welcome-bg-ch">
        <div class="profile-name">
            <div class="container">
                <div class="row pr-row">
                    <div class="col-9">
                        <div class="profile-header-details">
                            <a routerLink="/">
                                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-3">
                        <a routerLink="/referral_details">
                            <img src="assets/images/referral-log.png" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <section class="welcome-bonus">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wl-bonus">
                            <h1>YOU HAVE EARNED</h1>
                            <div class="wl-cm-gift">
                                <img src="assets/images/ref-paid-one.png" class="img-fluid">
                            </div>
                            <p><img src="assets/images/wl-bonus-icon.png" class="img-fluid"><span> {{total}}</span></p>
                            <h6>NEWO COIN</h6>
                            <span class="as-ref">As Referral Rewards.</span>
                            <span class="share-ref">Share more to Earn more !</span>
                        </div>
                        <div class="coupon-code-div">
                            <div class="row">
                                <div class="col-9 pr-0">
                                    <div class="coupon-sm-1">
                                        <p>Your Referral Code<span class="code-number" id="referral_code">{{referralCodeId}}</span></p>
                                    </div>
                                </div>
                                <div class="col-3 p-0">
                                    <!--<div class="coupon-sm-2">
                                  <p>Copy<span>Code</span></p>
                              </div>-->
                                    <a href="javascript:void(0)" (click)="copyToClipboard('#referral_code')" class="copy-code-number"><i class="fa fa-clone" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="share-atch">
                            <a href="javascript:void(0)">
                                <i class="fa fa-caret-left" aria-hidden="true"></i> INVITE <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="refferal-icon">
        <div class="row">
            <div class="col-3 pr-0">
                <a [href]="wappShareurl" data-action="share/whatsapp/share" target="_blank">
                    <img src="assets/images/ref-wp.png" class="img-fluid">
                    <!-- <img src="assets/images/ref-wp.png" class="img-fluid" style="filter: grayscale(100%);"> -->
                <p>Whatsapp</p>
                </a>
            </div><!-- style="filter: grayscale(100%);" -->
            <div class="col-3 pr-0">
                <img src="assets/images/ref-tl.png" class="img-fluid">
                <p>Telegram</p>
            </div>
            <div class="col-3 pr-0">
                <img src="assets/images/ref-sms.png" class="img-fluid">
                <p>SMS</p>
            </div>
            <div class="col-3 pr-0">
                <img src="assets/images/ref-oth.png" class="img-fluid">
                <p>Others</p>
            </div>
        </div>
    </div>
</div>
<app-welcomefooter></app-welcomefooter>