<div class="mt-bt">
    <app-welcomeheader></app-welcomeheader>
    <section class="sec-mt-bt">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ml-tran">
                        <div class="ml-text">
                            <h1>Referral</h1>
                            <p>The NEWO Referral Program allows NEWO customers to earn promotional reward credits toward future NEWO App usage by referring friends or family members to NEWO. By participating in the Referral Program, you (the “Referrer”) agree to abide by these Referral Program Terms.
                            </p>
                            <h1>Defined Terms</h1>
                            <h6>Referrer: </h6> <p>You, a registered NEWO customer.</p> 
                            <h6>Referred Customer: </h6><p>A friend or family member who has not previously registered on NEWO Clan before and to whom the Referrer shares their link.</p>
                            <h6>Referral Link/ Coupon Code: </h6><p>A personalized referral link/ Coupon code, provided to you by NEWO Clan.</p>
                            <h6>Referrer Reward: </h6><p>A promotional reward, NEWO Coins worth up to 499 INR. </p>
                            <h6>Referred Customer: </h6><p>A promotional reward, NEWO Coins worth up to 199 INR.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-welcomefooter></app-welcomefooter>
</div>