<ngx-alerts></ngx-alerts>
<section class="edit-profile-img">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="profile-header-details">
                    <a routerLink="/profile">
                        <!-- <i class="fa fa-long-arrow-left" aria-hidden="true"></i> -->
                        <img src="assets/images/back-btn.png" style="width: 40%;" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="edit-phone-div" id="edit-two">
    <form class="container" [formGroup]="phnChangeForm" (ngSubmit)="phoneUpdate(phnChangeForm.value)">
        <div class="form-group">
            <label class="edit-label" for="">Old NO</label>
            <input type="phone" class="form-control" value="{{phone}}" id="old-phone" aria-describedby="phonelHelp">
        </div>
        <div class="form-group">
            <label class="edit-label" for="">New NO</label>
            <input type="phone" class="form-control" formControlName="new_phone" id="old-phone" aria-describedby="phonelHelp">
        </div>
        <div class="form-group">
            <label class="edit-label" for="">OTP</label>
            <input type="text" class="form-control" formControlName="otp" id="old-phone" aria-describedby="phonelHelp">
        </div>
        <div class="submit-div">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="javascript:void(0)" class="btn btn-close" routerLink="/profile">
                <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
                <svg class="sp-vp" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" background-color="#353a61">
                    <style type="text/css">
                        .st0{fill-rule:evenodd;clip-rule:evenodd;}
                    </style>
                    <g>
                        <path class="st0" d="M18.5,18.2L18.5,18.2C37.9-1.1,69.1-1.1,87,18.2l406.5,406.5c19.4,19.4,19.4,50.6,0,68.5l0,0   c-17.9,19.4-49.1,19.4-68.5,0L18.5,86.7C-0.8,68.9-0.8,37.6,18.5,18.2L18.5,18.2z" fill= "#ab96f2"/>
                        <path class="st0" d="M18.5,493.2L18.5,493.2c-19.4-17.9-19.4-49.1,0-68.5L425,18.2c19.4-19.4,50.6-19.4,68.5,0l0,0   c19.4,19.4,19.4,50.6,0,68.5L87,493.2C69.1,512.6,37.9,512.6,18.5,493.2L18.5,493.2z" fill= "#ab96f2" />
                    </g> 
                    </svg>
            </a>
        </div>
    </form>

</div>
<app-welcomefooter></app-welcomefooter>