<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a routerLink="/otthome"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>Netwood WMD</h2>  
                </div>
                <!-- <div class="col-md-6 col-2">
                    <p class="mp-p">7</p>
                </div> -->
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/esho-bondhu-netwood-world-music-day" class="cf-txt-a-tag"><img src="assets/images/netwood/1742.jpg" class="img-fluid">Esho Bondhu | Netw...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/fragile-netwood-world-music-day" class="cf-txt-a-tag"><img src="assets/images/netwood/1741.jpg" class="img-fluid">Fragile | Netwood ...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/moti-ke-gourangey-netwood-world-music-day" class="cf-txt-a-tag"><img src="assets/images/netwood/1740.jpg" class="img-fluid">Moti Ke Gourangey ...</a>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/danse-acoustica-netwood-world-music-day" class="cf-txt-a-tag"><img src="assets/images/netwood/1739.jpg" class="img-fluid">Danse Acoustica | ...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/tumbando-cana-spanish-netwood-world-music-day" class="cf-txt-a-tag"><img src="assets/images/netwood/1738.jpg" class="img-fluid">Tumbando Cana (Spa...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/chupi-chupi-raat-netwood-world-music-day" class="cf-txt-a-tag"><img src="assets/images/netwood/1737.jpg" class="img-fluid">Chupi Chupi Raat ...</a>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/besame-mucho-netwood-world-music-day" class="cf-txt-a-tag"><img src="assets/images/netwood/1736.jpg" class="img-fluid">Besame Mucho | Net...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/amar-haat-bandhibi-netwood-world-music-day" class="cf-txt-a-tag"><img src="assets/images/netwood/1735.jpg" class="img-fluid">Amar Haat Bandhibi...</a>
                    </div>
                </div>
            </div>
        </div>
      </section>
<!-- <app-ottfooter></app-ottfooter> -->
<app-welcomefooter></app-welcomefooter>