<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a href="/otthome"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>Netwood WMD</h2>  
                </div>
                <!-- <div class="col-md-6 col-2">
                    <p class="mp-p">7</p>
                </div> -->
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1742.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/esho-bondhu-netwood-world-music-day" class="cf-txt-a-tag">Esho Bondhu | Netw...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/esho-bondhu-netwood-world-music-day']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1741.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/fragile-netwood-world-music-day" class="cf-txt-a-tag">Fragile | Netwood ...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/fragile-netwood-world-music-day']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1740.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/moti-ke-gourangey-netwood-world-music-day" class="cf-txt-a-tag">Moti Ke Gourangey ...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/moti-ke-gourangey-netwood-world-music-day']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                        <img src="assets/images/netwood/1739.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/danse-acoustica-netwood-world-music-day" class="cf-txt-a-tag">Danse Acoustica | ...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/danse-acoustica-netwood-world-music-day']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1738.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/tumbando-cana-spanish-netwood-world-music-day" class="cf-txt-a-tag">Tumbando Cana (Spa...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/tumbando-cana-spanish-netwood-world-music-day']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1737.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/chupi-chupi-raat-netwood-world-music-day" class="cf-txt-a-tag">Chupi Chupi Raat ...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/chupi-chupi-raat-netwood-world-music-day']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1736.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/besame-mucho-netwood-world-music-day" class="cf-txt-a-tag">Besame Mucho | Net...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/besame-mucho-netwood-world-music-day']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1735.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/amar-haat-bandhibi-netwood-world-music-day" class="cf-txt-a-tag">Amar Haat Bandhibi...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/amar-haat-bandhibi-netwood-world-music-day']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
<app-ottfooter></app-ottfooter>
