<app-welcomeheader></app-welcomeheader>
<div class="mt-bt">
    <div class="newsdesk_desk_div">
        <a routerLink="/newsdesk"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;Back</a>
    </div>
    <!-- <a routerLink="/newsdesk"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> -->
    <div class="play-dv" >         
        <iframe [src]="final_url" style="height: 700px;
        width: -webkit-fill-available;" frameborder="0" ></iframe>
    </div>
</div>
<app-welcomefooter></app-welcomefooter>