<header class="mobile-header">
    <!-- <section class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-6 p-right-0">
            <div class="top-sm">
              <a href="javascript:void(0)"><i class="fa fa-envelope-o"
                  aria-hidden="true"></i>&nbsp;online@newostreet.in</a>
            </div>
          </div>
          <div class="col-md-3 col-6">
            <div class="top-sm">
              <a href="javascript:void(0)"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;1234567890</a>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </section> -->
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-12">
            <a href="index.html">
              <div class="logo">
                <!--<h1>Newo<span> Street</span></h1>-->
                <img src="assets/images/newo-logo.png" class="img-fluid">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-header">
      <div class="container">
        <div class="row">
          <div class="col-12 ">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                  aria-controls="nav-home" aria-selected="true"><i class="fa fa-home hm-tab"
                    aria-hidden="true"></i></a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                  aria-controls="nav-profile" aria-selected="false">About</a>
                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                  aria-controls="nav-about" aria-selected="false">Contact</a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
