<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="social-icon">
                    <ul>
                        <li>
                            <a href="#" class="facebook-a">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram-a">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="youtube-a">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter-a">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright-p"><span class="block">Copyright© 2020 <a href="#"></a> All rights reserved.</span></p>  
                </div>
            </div>
        </div>  
    </div>
  </section>