<div class="body-strucre">

    <section class="top-bar-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="top-text-sm">

                        <ul>
                            <li class="frisr-child"><a routerLink="/multiplexhome"><i class="fa fa-home"
                                        aria-hidden="true"></i></a></li>
                            <li class="frisr-child"><a href="#" routerLink="/multiplextending">Trending</a></li>
                            <li><a href="" routerLink="/multiplexnewlist">New</a></li>
                            <li><a href="#" routerLink="/multiplexpurchaseList">Purchase</a></li>
                            
                        </ul>
                    </div>

                </div>

                <div class="col-md-12 col-12">
                    <div class="search-btn">
                        <!-- <a href=""><img src="assets/images/search.svg" class="img-fluid"></a> -->
                    </div>

                </div>

            </div>

        </div>
    </section>


    <section class="second-part" *ngFor="let i of trendinglist">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="t-b-s-background">

                        <div class="show-box new-box">
                            <img src="{{env.multiplex_poster_url+i.image}}" class="img-fluid">
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-3">

                                </div>
                                <div class="col-9 chat-chati">
                                    <ul>
                                        <a (click)="checkSubscribe(i.id,i.purchase_time,yesterday)">
                                        <li><span class="movie">{{i.name.slice(0, 20 )}}</span></li>
                                        <li><span>{{i.duration_time}}</span><span class="main-date">{{i.year}}</span>
                                        </li>
                                        <li><span>{{i.genere_name}}</span></li>
                                        </a>
                                        <li class="star">
                                            <span><img src="assets/images/rating-fill.svg" class="img-fluid"></span>
                                            <span class="date-text">{{i.rating}}/10</span>
                                            <span class="main-whistlist-new">
                                                <span *ngIf="i.wishlist_status!=1"><a
                                                        (click)="addWishList(i.id)"><img
                                                            src="assets/logo/wishlist.svg" class="img-fluid"></a>
                                                </span>
                                                <span *ngIf="i.wishlist_status==1"><a
                                                        (click)="removeWishList(i.id)"><img
                                                            src="assets/logo/wishlisted.svg" class="img-fluid"></a>
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>


</div>

<app-welcomefooter></app-welcomefooter>