<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a routerLink="/ottcne"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>  Cafe Netwood Episode</h2>  
                </div>
                <div class="col-md-6 col-2">
                    <p class="mp-p">6</p>
                </div>
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1896.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/aaj-jhorer-raate-by-sahana" class="cf-txt-a-tag">
                            Aaj Jhorer Raate b...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/aaj-jhorer-raate-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1895.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/amar-haat-bandhib-by-sahana" class="cf-txt-a-tag">
                            Amar Haat Bandhib ...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/amar-haat-bandhib-by-sahana']"class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1894.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/ami-sunechi-sedin-by-sahana" class="cf-txt-a-tag">
                            Ami Sunechi Sedin ...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/ami-sunechi-sedin-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                        <img src="assets/images/netwood/1893.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/amra-moloy-batashe-by-sahana" class="cf-txt-a-tag">
                            Amra Moloy Batashe...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/amra-moloy-batashe-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1892.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/ei-je-tomar-prem-by-sahana" class="cf-txt-a-tag">
                            Ei Je Tomar Prem b...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/ei-je-tomar-prem-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1890.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/ekta-chhele-by-sahana" class="cf-txt-a-tag">
                            Ekta Chhele by Sah...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/ekta-chhele-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1889.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/ghum-bhulechi-by-sahana" class="cf-txt-a-tag"> Ghum Bhulechi by S...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/ghum-bhulechi-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1888.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/kalare-by-sahana" class="cf-txt-a-tag">
                            Kalare by Sahana</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/kalare-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1887.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/kalojole-by-sahana" class="cf-txt-a-tag">
                            Kalojole by Sahana</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/kalojole-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1886.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/kotobar-bhebechinu-by-sahana" class="cf-txt-a-tag"> 
                            Kotobar Bhebechinu...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/kotobar-bhebechinu-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1885.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/maharajo-eki-saaje-by-sahana" class="cf-txt-a-tag">
                            Maharajo Eki Saaje...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/maharajo-eki-saaje-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1884.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/o-je-manena-mana-by-sahana" class="cf-txt-a-tag"> O Je Manena Mana b...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/o-je-manena-mana-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1883.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/sokatore-oi-by-sahana" class="cf-txt-a-tag">  Sokatore Oi by Sah...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/sokatore-oi-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1882.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/tomra-ja-bolo-by-sahana" class="cf-txt-a-tag"> Tomra Ja Bolo by S...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/tomra-ja-bolo-by-sahana']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
<app-ottfooter></app-ottfooter>
