/*netwood-cafe-epi-7*/
.cf-img{
    position: relative
}
.premium-div {
    position: absolute;
    top: 11px;
    width: 53%;
    right: -1px;
}
.mt-p-row {
    padding-right: 10px;
    margin-top: 10px;
}
.cf-img img {
    border-radius: 6px;
    margin: 14px 0px;
}
.cf-img {
    margin: 0px 0px 0px 10px;
}
.cf-txt-a-tag {
    color: #ffc107;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    margin: 6px 0px 0px;
}
.cf-h2 {
    font-size: 19px;
    color: #fff;
    margin-bottom: 0;
    line-height: inherit;
}
.mp-p {
    color: #fff;
    font-size: 21px;
    margin-bottom: 0;
}
.cf-h2 span a {
    color: #fff;
}

/*netwood-cafe-epi-7*/