<div class="body-strucre">
    
    <section class="top-bar-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-7">
                    <div class="main-wishlist-1">
                            <img src="assets/logo/back-btn.webp" class="img-fluid">
                            <h3>Payment</h3>
                    </div>
                </div>
                <div class="col-md-12 col-5">
                    <div class="main-wishlist">
                        <img src=" assets/logo/payment.webp" class="img-fluid">
                        
                    </div>
                </div>
    
            </div>
    
        </div>
    </section>
    <section class="second-part-font">
        <div class="container">
          <div class="row">
                <div class="col-md-12">
              
                          <div class="t-b-s-background">
                               
                              <div class="container">
                                  <div class="row">
                                      <div class="col-4 main-img-1">
                                            <img src="assets/images/beguni.jpg" class="img-fluid">
                                         
                                      </div>
                                      <div class="col-8 chat-chati">
                                        <ul>
                                          <li><span class="movie">Chat Chati</span></li>
                                          
                                        </ul>
                                        <div class="row checkout-main-text-box " style="border-bottom: 1px solid #eee;">
                                            <div class="col-9">
                                                <div class="">
                                                    <span>2 hr 02 min</span>
                                                </div>

                                            </div>
                                            <div class="col-3">
                                                <span class="">2022</span>

                                            </div>

                                        </div>
                                        <div class="row checkout-main-text-box">
                                            <div class="col-9">
                                                <div class="">
                                                    <span>Ticket price</span>
                                                </div>

                                            </div>
                                            <div class="col-3">
                                                <span class="ruppes-sign"><img src="assets/logo/ruppee.png" class="img-fluid">100</span>

                                            </div>

                                        </div>
                                        <div class="row checkout-main-text-box">
                                            <div class="col-9">
                                                <div class="">
                                                    <span>Rent Duration</span>
                                                </div>

                                            </div>
                                            <div class="col-3">
                                                <span class="">24hrs</span>

                                            </div>

                                        </div>
                                        <div class="row checkout-main-text-box" style="border-bottom: 1px solid #eee;">
                                            <div class="col-9">
                                                <div class="">
                                                    <span>Sub Total<span>(GST Incl.)</span></span>
                                                </div>

                                            </div>
                                            <div class="col-3">
                                                <span class="ruppes-sign"><img src="assets/logo/ruppee.png" class="img-fluid">100</span>

                                            </div>

                                        </div>
                                        <div class="row checkout-main-text-box">
                                            <div class="col-7">
                                                <div class="main-total">
                                                    <span>Total</span>
                                                </div>

                                            </div>
                                            <div class="col-5 total-rupee">
                                                <span class="ruppes-sign-0ne"><img src="assets/logo/ruppee.png" class="img-fluid">100.00</span>

                                            </div>

                                        </div>
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>            
                   
                  </div>
                </div>
           
       
    </section>
    <section class="third-part-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="coin-new">
                        <p><span>You Have :</span><span><img src="assets/logo/coins-img.png" class="img-fluid">250</span></p>
                       <span class="img-test-new1"><img src="assets/logo/newo-coins-img.png" class="img-fluid"></span>
                        
                    </div>
                
                </div>

            </div>

        </div>
    </section>
    
   <section class="four-part-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="pay-btn">
                    <p>
                        <span>Pay&nbsp;<img src="assets/logo/ruppee.png" class="img-fluid">&nbsp;90.00</span><span>&nbsp;+100&nbsp;</span>
                            <span class="coins-img"><img src="assets/logo/coins-img.png" class="img-fluid"></span>
                        </p>

                </div>

            </div>
            
        </div>

    </div>
</section>
<section class="four-part-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
<div class="line-draw ">
    <ul>
        <li></li>
        <li>or</li>
        <li></li>
    </ul>
  
</div>
</div>
</div>
</div>
</section>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                
            </div>
            </div>
        </div>


   <section class="fifth-part-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="pay-btn">
                    <p><span>Pay&nbsp;<img src="assets/logo/ruppee.png" class="img-fluid">&nbsp;100</span></p>

                </div>

            </div>

        </div>

    </div>

   </section>
   <section class="close-btn-new">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="cls-btn">
                  <img src="" class="img-fluid"> 

                </div>

            </div>

        </div>

    </div>

   </section>
    
    
    
       
    
           
  
    
   
    </div>
    
    <app-welcomefooter></app-welcomefooter>
