<div class="body-strucre">

    <section class="top-bar-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-7">
                    <div class="main-wishlist-1">
                        <div>
                            <a routerLink="/multiplexhome"> <img src="assets/logo/back-btn.webp" class="img-fluid"></a>
                        </div>
                        <h3>Payment</h3>
                    </div>
                </div>
                <div class="col-md-12 col-5">
                    <div class="main-wishlist">
                        <img src=" assets/logo/payment.webp" class="img-fluid">

                    </div>
                </div>

            </div>

        </div>
    </section>
    <section class="second-part-font">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="t-b-s-background">

                        <div class="container">
                            <div class="row">
                                <div class="col-4 main-img-1">
                                    <img src="{{env.multiplex_poster_url+collection.image}}" class="img-fluid">

                                </div>
                                <div class="col-8">
                                    <h1 class="movie">{{collection.name}}</h1>
                                    <div class="row checkout-main-text-box " style="border-bottom: 1px solid #eee;">
                                        <div class="col-8">
                                            <div class="">
                                                <span>{{collection.duration_time}}</span>
                                            </div>

                                        </div>
                                        <div class="col-4 ">
                                            <span class="price-new-1">{{collection.year}}</span>

                                        </div>

                                    </div>
                                    <div class="row checkout-main-text-box">
                                        <div class="col-8">
                                            <div class="">
                                                <span>Ticket price</span>
                                            </div>

                                        </div>
                                        <div class="col-4">
                                            <span class="ruppes-sign"><img src="assets/logo/ruppee.png" class="img-fluid">{{collection.price}}</span>

                                        </div>

                                    </div>
                                    <div class="row checkout-main-text-box">
                                        <div class="col-8">
                                            <div class="">
                                                <span>Rent Duration</span>
                                            </div>

                                        </div>
                                        <div class="col-4">
                                           <span class="price-new-1">24hrs</span>

                                        </div>

                                    </div>
                                    <div class="row checkout-main-text-box" style="border-bottom: 1px solid #eee;">
                                        <div class="col-8">
                                            <div class="">
                                                <span>Sub Total<span>(GST Incl.)</span></span>
                                            </div>

                                        </div>
                                        <div class="col-4">
                                            <span class="ruppes-sign"><img src="assets/logo/ruppee.png" class="img-fluid">{{collection.price}}</span>

                                        </div>

                                    </div>
                                    <div class="row checkout-main-text-box">
                                        <div class="col-7">
                                            <div class="main-total">
                                                <span>Total</span>
                                            </div>

                                        </div>
                                        <div class="col-5 total-rupee">
                                            <span class="ruppes-sign-0ne"><img src="assets/logo/ruppee.png" class="img-fluid">{{collection.price}}</span>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </section>
    <section class="third-part-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="coin-new">
                        <p><span>You Have :</span><span><img src="assets/logo/coins-img.png" class="img-fluid">{{coin}}</span></p>
                        <span class="img-test-new1"><img src="assets/logo/newo-coins-img.png" class="img-fluid"></span>

                    </div>

                </div>

            </div>

        </div>
    </section>
    <section *ngIf="coin>=collection.use_coin">
        <section class="four-part-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="pay-btn">
                            <a href="javascript:void(0)" (click)="multiplexCheckout(collection.id,collection.use_amount,collection.use_coin)">
                                <p>
                                    <span>Pay&nbsp;<img src="assets/logo/ruppee.png" class="img-fluid">&nbsp;{{collection.use_amount}}</span><span>&nbsp;+{{collection.use_coin}}&nbsp;</span>
                                    <span class="coins-img"><img src="assets/logo/coins-img.png" class="img-fluid"></span>
                                </p>
                            </a>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <section class="four-part-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="line-draw ">
                            <ul>
                                <li></li>
                                <li>or</li>
                                <li></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">

            </div>
        </div>
    </div>


    <section class="fifth-part-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="pay-btn">
                        <a href="javascript:void(0)" (click)="multiplexCheckout(collection.id,collection.price,0)">
                            <p><span>Pay&nbsp;<img src="assets/logo/ruppee.png" class="img-fluid">&nbsp;{{collection.price}}</span></p>
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </section>
    <section class="close-btn-new">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="cls-btn">
                        <a _ngcontent-khm-c95="" href="#/profile" routerlink="/profile" class="btn btn-close" ng-reflect-router-link="/profile">
                        <svg _ngcontent-khm-c95="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve" background-color="#353a61" class="sp-vp" style="enable-background: new 0 0 512 512;">
                        <style _ngcontent-khm-c95="" type="text/css"> .st0{fill-rule:evenodd;clip-rule:evenodd;} </style><g _ngcontent-khm-c95=""><path _ngcontent-khm-c95="" d="M18.5,18.2L18.5,18.2C37.9-1.1,69.1-1.1,87,18.2l406.5,406.5c19.4,19.4,19.4,50.6,0,68.5l0,0   c-17.9,19.4-49.1,19.4-68.5,0L18.5,86.7C-0.8,68.9-0.8,37.6,18.5,18.2L18.5,18.2z" fill="#ab96f2" class="st0"></path><path _ngcontent-khm-c95="" d="M18.5,493.2L18.5,493.2c-19.4-17.9-19.4-49.1,0-68.5L425,18.2c19.4-19.4,50.6-19.4,68.5,0l0,0   c19.4,19.4,19.4,50.6,0,68.5L87,493.2C69.1,512.6,37.9,512.6,18.5,493.2L18.5,493.2z" fill="#ab96f2" class="st0"></path></g></svg></a>
                    </div>

                </div>

            </div>

        </div>

    </section>









</div>

<app-welcomefooter></app-welcomefooter>