<app-welcomeheader></app-welcomeheader>
<div class="mt-bt">
    <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-6" *ngFor="let bData of businessData | keyvalue">
                            <a [routerLink]="['/newsdetail']" (click)="newsUrl(bData.value.link[0])">
                                <img src={{bData.value.postImage[0]}} />
                                <h4 class="news-p">{{bData.value.title[0]}}</h4>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- <section class="banner">
        <owl-carousel-o [options]="newsDskOptBn">
            <ng-template carouselSlide *ngFor="let tData of topData | keyvalue">
                <a [routerLink]="['/newsdetail']" (click)="newsUrl(tData.value.url)" class="gm-a">
                    <div class="slide">
                        <img src="{{tData.value.image}}">
                        <h1>{{tData.value.title}}</h1>
                    </div>
                </a>
            </ng-template>
        </owl-carousel-o>

    </section> -->
    <!-- <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-12">
                            <h3 class="rs-h3-cl">
                                <a>Business</a>
                            </h3>
                        </div>
                    </div>
                    <owl-carousel-o [options]="newsDskbusns">
                        <ng-template carouselSlide *ngFor="let bData of businessData | keyvalue">
                            <a [routerLink]="['/newsdetail']" (click)="newsUrl(bData.value.link[0])" class="gm-a">
                                <div class="slide sl-sm">
                                    <img src={{bData.value.postImage[0]}} />
                                    <h4 class="news-p">{{bData.value.title[0]}}</h4>
                                </div>
                            </a>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="rg-section mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-12">
                            <h3 class="rs-h3-cl">
                                <a>Entertainment</a>
                            </h3>
                        </div>
                    </div>
                    <owl-carousel-o [options]="newsDskEnt">
                        <ng-template carouselSlide *ngFor="let eData of entertainmentData | keyvalue">
                            <a [routerLink]="['/newsdetail']" (click)="newsUrl(eData.value.url)" class="gm-a">
                                <div class="slide sl-sm">
                                    <img src="{{eData.value.image}}">
                                  
                                    <h4 class="news-p">{{eData.value.title}}</h4>
                                    
                                    <h2>By {{eData.value.author}}</h2>
                                </div>
                            </a>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
    <section class="rg-section mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-12">
                            <h3 class="rs-h3-cl">
                                <a>Sports</a>
                            </h3>
                        </div>
                    </div>
                    <owl-carousel-o [options]="newsDskSport">
                        <ng-template carouselSlide *ngFor="let sData of sportsData | keyvalue">
                            <a [routerLink]="['/newsdetail']" (click)="newsUrl(sData.value.url)" class="gm-a">
                                <div class="slide sl-sm">
                                    <img src="{{sData.value.image}}">
                                    
                                    <h4 class="news-p">{{sData.value.title}}</h4>
                                   
                                    <h2>By {{sData.value.author}}</h2>
                                </div>
                            </a>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section> -->
</div>
<app-welcomefooter></app-welcomefooter>