<app-welcomeheader></app-welcomeheader>
<div class="mt-bt" style="    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(242 144 29) 0%, rgb(238 47 65) 35%, rgb(148 34 130) 100%);">
    

        <div class="features-list-new hero-section-new moving" style="color: white; padding: 25px;">
            <div class="moving-bg"></div>
            <div class="who-we-contant">
            <h2>Newo Newsdesk</h2>
            <p class="w-text fadeInUp" data-wow-delay="0.4s">A News aggregation service that combines trusted global news sources and presents verified
                facts in a concise manner. The categories available on this feature are - Sports, Gaming,
                Lifestyle, Entertainment, and Financial topics. All these interesting features will be just the click
                of a button away on the Newo app. Amongst all the hustle and bustle of life, now all the updates
                will reach you through only one app.</p> 
            
            </div>
            
        </div>
  
</div>
  <app-welcomefooter></app-welcomefooter>
