<app-userheader></app-userheader>
<section class="user-nm">
    <div class="container">
        <div class="season2">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="ad-nm">
                        <h2>Adrija Das<span>@ 65404</span><span>Singer (Jr)</span></h2>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div class="user-img-round" style="float: right;">
                        <img src="../assets/images/user-home-img.jpg" class="img-fluid">
                    </div>
                </div>
            </div> 
        </div> 
        <div class="row">
            <div class="col-md-12">
                <div class="season-sub-text">
                    <h2>Season #1 : <span>(Phase 2)</span></h2>
                    <p>Appearance Type : <span>Online</span></p>
                </div>
                <div class="season2">
                    <div class="row bd-rd-yellow">
                        <div class="col-md-10 col-10"> 
                            <div class="season-perform">  
                                <p>Knockout Round <span class="kn-sp">SUBMISSION</span></p>
                            </div>
                        </div>
                        <div class="col-md-2 col-2">
                            <div class="season-text"> 
                                <a routerLink="/userpreview" routerLinkActive="active">
                                    <img src="../assets/images/play2.png" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="kn-p">Congratulations! You have been selected for the next round.</p>
                        </div>
                    </div>
                </div>
                <div class="season2">
                    <div class="row bd-rd-yellow">
                        <div class="col-md-10 col-10"> 
                            <div class="season-perform">  
                                <p>Semi Final Round<span class="kn-sp">SUBMISSION</span></p>
                            </div>
                        </div>
                        <div class="col-md-2 col-2">
                            <div class="season-text">
                                <a routerLink="/userpreview" routerLinkActive="active">
                                    <img src="../assets/images/play2.png" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="kn-p">Congratulations! You have been selected for the next round.</p>
                        </div>
                    </div>
                </div>
                <div class="season2">
                    <div class="row bd-rd-yellow">
                        <div class="col-md-10 col-10"> 
                            <div class="season-perform">  
                                <p>Final Round<span class="kn-sp">SUBMISSION</span></p>
                            </div>
                        </div>
                        <div class="col-md-2 col-2">
                            <div class="season-text">
                                <a routerLink="/userpreview" routerLinkActive="active">
                                    <img src="../assets/images/play2.png" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="kn-p">Congratulations! You are the winner for Netwood Stars Hunt Season 1 Phase 3 Online. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
<app-userfooter></app-userfooter>
