/*user*/
.user-top-header{
    padding: 10px 0px;
    border-bottom: 1px solid #d5dd25;
}
.user-body {
    margin: 0;
    padding: 0;
    background: #19242e !important;
    /*background-image: linear-gradient(#19242ed9, #19242ed9),url(App-Logo.png) !important;*/
    background-repeat: no-repeat;
    margin-bottom: 75px;  
    height: inherit !important;
}
.ad-nm h2{  
    color: #d5dd25;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
.ad-nm h2 span{
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
.user-nm{
    padding: 20px 0px;
}
.animated-icon{
    width: 30%;
    float: right;
    display: block;
}
.get-nic {
    padding: 15px 10px;
    display: inline-block;
    background: #d5dd25;
    color: #19242e;
    width: 100%;
    border-radius: 9px;
    font-weight: 600;
    margin: 20px 0px;
}
.season{
    margin: 20px 0 40px 0;
    box-shadow: 0px 0px 25px 0px rgba(184,184,184,0.5);
    background-color: #19242e;
    padding: 15px;
    align-items: center;
    border-radius: 10px;
}
.season-text h2{
    font-size: 18px;
    color: #d5dd25;
    text-align: left;
    margin-bottom: 0;
}
.season-text h2 span{
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 20px;
}
.online-span{
    color: #d5dd25 !important;
}
.perform-btn {
    padding: 11px 0px;
    display: inline-block;
    background: #d5dd25;
    color: #19242e;
    width: 100%;
    border-radius: 9px;
    font-weight: 700;
    margin: 12px 0px 0px;
    font-size: 13px;
}
.user-footer {
    padding: 11px 0px;
    background: #19242e;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0; 
}
.user-footer img {
    text-align: center;
    width: 33%;
    display: block;
    margin: 0 auto;
}
.dropdown-div .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: inherit;
    border-right: inherit;
    /* border-bottom: 0; */
    border-left: inherit;
}
.dropdown-div{
    float: right;
}
.dropdown-div .dropdown-menu {
    margin-left: -107px;
    margin-top: 2px;
    background-color: transparent;
}
.dropdown-div .btn-secondary {
    color: #fff;
    background-color: transparent;
    border: none;
}
.dropdown-div .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border: none;
    box-shadow: none !important;
}
.dropdown-div .dropdown-item {
    display: block;
    width: 82%;
    padding: 11px 0px;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: #44515d;
    border-bottom: 0.1px solid #19242e;
    text-align: center;
}
.user-back-btn{
    font-size: 28px;
    display: inline-block;
    color: #fff;
}
.pro-h1 {
    color: #fff;
    font-size: 24px;
    text-align: left;
    margin: 7px 0px;
}
.user-img-round{
    width: 70px;
    height: 70px;
    overflow: hidden;
}
.user-img-round img{
    border-radius: 50%;
}
.user-img img{
    width: 100%;
}
.season-perform p{
    font-size: 14px;
    color: #fff;
    text-align: left;
    margin-bottom: 0;
}
/* .season-perform p span{
    display: block;
} */
.season2{
    background-color: #2d3a47;
    border-radius: 10px;
    padding: 10px 7px;
    margin-bottom: 15px;  
}
/* .season-text img{
    margin: 7px 0px 0px;
} */
.detail-info-table td{
    text-align: left; 
    color: #fff;
}
.strip-div{
    border: 2px dashed #516a80;
    border-radius: 15px;
    padding: 18px;
    margin-top: 39px;
}
.strip-div h4{
    color: #d5dd25;
    font-size: 14px;
    font-weight: 600;
}
.season-sub-text h2{
    color: #d5dd25;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}
.season-sub-text h2 span{
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
}
.season-sub-text p{
    font-size: 12px;
    color: #fff;
    text-align: left;
}
.season-sub-text p span{
    color: #d5dd25;
}
.season-sub-text{
    padding-top: 30px;
}
.accordian-div .card {
    background-color: #2d3a47;
    margin: 10px 0px 10px;
    border-radius: 8px !important;
}
.accordian-div .card-body p{
    color: #fff;
}
.accordian-div .card-body{
    color: #fff;
}
.accordian-div .card h5 {
    color: #ffffff;
    font-size: 17px;
}
.fn-rt{
    float: right;
}
.fnt-codi{
    font-size: 24px;
    color: #d5dd25;
    margin-right: 10px;  
}
.upload-section{
    padding: 20px 0px;
}
.upload-section h3{
    color: #fff;
    font-size: 19px;
}
.en-no-div{
    padding: 8px 0px 31px;
    width: 100%;
    background: #2d3a47;
    display: inline-block;
    text-align: center;
    border-radius: 14px;
    color: #fff;
    font-size: 70px;
}
.en-no-div span{
        display: block;
    font-size: 17px;
    line-height: 1px;
}

.kn-sp{
    color: yellow;
}
.bd-rd-yellow{
    border-bottom: 1px solid yellow;
    padding-bottom: 8px;
    margin: 0;
}
.kn-p{
    color: #fff;
    font-size: 13px;
    margin: 4px 0px 0px;
}
.jury-mn h4{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.jury-mn h5{
    font-size: 14px;
    color: #fff;  
}
.jury-nm-2 p{
    font-size: 11px;
    color: #fff;
    margin-bottom: 0;
}
.jury-nm-2 i{
    color: #d5dd25;
    font-size: 11px;
}
.jury-mn span{
    font-size: 12px;
    color: #bebebe;
    display: block;  
}
.nm-p{
    font-size: 12px;
    color: #fff;
    margin-bottom: 0;
}
/*user*/
/*audition-user-submision*/
.ad-sm .element {
    /*display: inline-flex;*/
    align-items: center;
  }
  .ad-sm i {
      cursor: pointer;
      font-size: 28px;
      color: #fff;
      text-align: center;
      display: block;
  }
  .name-fl{
      color: #fff;
  }
  i:hover {
    opacity: 0.6;
  }
  .ad-sm input {
    display: none;
  }
  /*audition-user-submision*/
