<div class="margin-div">
    <div class="ref-log-div">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <div class="profile-header-details">
                        <a href="javascript:void(0)" routerLink="/profile">
                            <img src="assets/images/back-btn.png" class="img-fluid" style="width: 40%;">
                        </a>
                        <h6><span class="profile-user-name">Redeem</span><span class="profile-email"></span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="redeem-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="reddem-div">
                        <div class="redeem-img">
                            <img src="assets/images/wl-cm-1.png" class="img-fluid">
                        </div>
                        <div class="redeem-text">
                            <h1>Redeem your coins to NEWOCOIN</h1>
                            <ul>
                                <li>Subscription should be more than 90 days</li>
                                <li>Max. 25% of your wallet balance can be redeemed at once</li>
                                <li>Next redemption will take place after 30 days of prior redemption</li>
                                <li>Redemption request will be actioned within 72 hrs. of submission</li>
                                <li>Wrong wallet address will impact coin redemption and is not recoverable</li>
                            </ul>
                            <div class="form-group frm-input">
                                <label class="edit-label" style="background: #292d52;" for="">Enter your wallet address</label>
                                <textarea type="textarea" class="form-control" name="" style="border: 2px solid #f4f4ff;" disabled>
                          </textarea>
                            </div>
                            <div class="form-group frm-input">
                                <label class="edit-label" style="background: #292d52;" for="">Metamask</label>
                                <input type="text" class="form-control" name="" style="border: 2px solid #f4f4ff;" disabled>
                            </div>
                            <div class="form-group frm-input">
                                <label class="edit-label" style="background: #292d52;" for="">Trust Wallet</label>
                                <input type="text" class="form-control" name="" style="border: 2px solid #f4f4ff;" disabled>
                            </div>
                            <div class="submit-div">
                                <button type="submit" class="btn btn-primary" disabled>Request for Redeem</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-welcomefooter></app-welcomefooter>