section {
    background: #0d1428;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin-bottom: 74px;
}

a:hover {
    text-decoration: none;
}

.mt-bt {
    margin-bottom: 127px;
}

.box {
    border-radius: 30px;
    height: inherit;
    background: #ff8100;
    display: block;
    margin: 0 auto;
    padding: 10px 0px 20px;
}

.modal-title-new {
    font-family: open sans-serif;
    text-align: center;
    padding: 5px 11px;
    color: #fff;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.game {
    background: #f2b671;
    border-radius: 30px;
    padding: 10px 14px;
    margin: -4px 10px;
    min-height: inherit;
}

.game p {
    font-size: 18px;
    font-weight: 700;
    font-family: Comic Sans MS;
}
.modal-footer {
    padding: 0px 10px 5px;
    border: none;
}

.modal-content {
    /* background-color: #efb812; */
    background-image: url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.modal-dialog {
    position: relative;
    width: auto;
    pointer-events: none;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 66px;
}

.modal-title {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 16px;
    text-align: justify;
    font-style: italic;
}

.modal-header {
    border: none;
    padding: 0 13px;
}