<app-header></app-header>
<div class="mt-bt">
    <section style="text-align: center; color: yellow;">

        <div class="container">
            <div class="row">
                <div class="col-12" *ngFor="let game of gameData | keyvalue">
                    <div class="gm-img">
                        <img src="{{env.AWS_GAME_URL+game.value.game_img}}" class="img-fluid" (click)="active_modal(game.value.game_id,game.value.game_price,game.value.game_name)" data-toggle="modal" data-target="#earnmodal">
                        <h6>{{game.value.game_name}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="earnmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_modal">
				<span aria-hidden="true">&times;</span>
			  </button>
            </div>

            <div class="modal-body">
                <div class="box">
                    <h5 class="modal-title-new">{{name}}</h5>
                    <div class="game" id="balance">
                        <!-- <p>You have to use {{price}} NEWO coin to play this game.</p> -->
                        <p>Play game and Earn Newo</p>
                    </div>

                    <!-- <div class="game" id="insuff_balance">
						<p>You do not have sufficient coin.</p>
				  	</div> -->
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="pay" (click)="payForGame(id)">Play Now</button>
            </div>
        </div>
    </div>
</div>

<app-welcomefooter></app-welcomefooter>