<app-welcomeheader></app-welcomeheader>
    <div class="mt-bt">
        <section class="sec-mt-bt">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="ml-tran">
                            <div class="ml-text">
                                <h1>Netwood Stars</h1>
                                <p>Content creators of copious kind can upload their content here directly and participate in worldwide content creation. Here, we invite you to create fun videos to share with your friends or anyone present in the space. Netwood Stars allows you to record and edit mini, multi-clip videos with audio, effects, and new creative tools where both the creators & the audience get to win redeemable NEWO COIN depending on views & watch hours. The selection procedure will be held through review & voting & the star creators will get an opportunity to have their big break by working on Netwood OTT Originals' Productions. You can avail of this facility only if you are a part of the Newo Clan. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<app-welcomefooter></app-welcomefooter>
