<app-ottheader></app-ottheader>
<section class="brow-child-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ab-border">
                <h2 class="cf-h2"><span><a href="../netwood/netwood-home.html"></a></span> About Netwood</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 net-ab-div">
                <h3>How Netwood got its name?</h3>
                <p>The first part of the word that is “Net” comes from the now ubiquitous “Internet” while the second part “Wood” bears the same connotation as that of the two biggest lands of entertainment Industry “ Hollywood” and “Bollywood”.</p>
                <h3>Ideology behind Netwood Entertainment Industry......</h3>
                <p>Just like Hollywood & Bollywood, Netwood wishes to be the destination of choice for Entertainment on the Internet.</p>
                <p>Netwood wants to create jobs for established and upcoming creative artists working in front of the camera as well as behind it, where they work and earn decent, dignified livelihoods in the creative arts. Unlike Hollywood and Bollywood,
                    the two biggest Industries of mainstream entertainment, Netwood wishes to become the ultimate Online Entertainment Industry.</p>
            </div>
        </div>
    </div>
</section>
<!-- <app-ottfooter></app-ottfooter> -->
<app-welcomefooter></app-welcomefooter>