<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a routerLink="/otthome"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>Netwood CNE</h2>  
                </div>
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1923.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideotype" class="cf-txt-a-tag">Episode 7 : Lagnaj...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideotype']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1922.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideotype1" class="cf-txt-a-tag">Episode 6 : Sahana...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideotype1']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1921.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideotype2" class="cf-txt-a-tag">Episode 5 : Anindy...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideotype2']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                        <img src="assets/images/netwood/1920.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideotype3" class="cf-txt-a-tag">Episode 4 : Mayook...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideotype3']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1919.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideotype4" class="cf-txt-a-tag">Episode 3 : Yellow...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideotype4']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1918.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideotype5" class="cf-txt-a-tag">Episode 2 : Somlat...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideotype5']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1917.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideotype6" class="cf-txt-a-tag">Episode 5 : Underg...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideotype6']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
<app-ottfooter></app-ottfooter>
