<app-welcomeheader>
</app-welcomeheader>
<div class="mt-bt">
    <section class="sec-mt-bt" style="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ml-tran">
                        <div class="ml-img">
                            <img src="/assets/images/round-logo.png" class="img-fluid">
                        </div>
                        <div class="ml-text">
                            <h1>Newo Clan</h1>
                            <!-- <p>Newo Clan is the integral core of our entire virtual digital asset community. All the people who will be a part of Newo Clan, will work as a momentous slice in our loyalty benefits & would often receive AIRDROPS of NEWO COIN as a form of rewards, which in the long-haul is going to uplift and revolutionize their lifestyle completely so that their future becomes smart, tight, and delightful!
                            </p>
                            <p class="acm">
                                Access the Newo Clan with a one-time in-app payment of Rs. 1999 & enjoy an array of amenities for a lifetime. The purchase would be renewed every year with only Rs. 500 worth of NewoCoins.
                                <span>** Yearly renewal can be made through the accumulation of the NewoCoins earned through your activity inside Newo Clan.
                                </span>
                            </p>  -->

                            <p>Newo Clan is the integral core of our entire virtual digital asset community. All the people who will be a part of Newo Clan would not only be able to access endless entertaining features, but also will work as a momentous
                                slice in our loyalty benefits & would often receive NEWO COIN as a form of rewards, as well as be able to take part in the sensational Dream Spin, which in the long-haul is going to uplift and revolutionize their lifestyle
                                completely so that their future becomes safe, simple, and fun!
                            </p>
                            <p class="acm">
                                Access the Newo Clan with a one-time in-app subscription fee & enjoy an array of amenities for a lifetime.
                            </p>

                            <div class="lg-rt-div">
                                <a class="lg-rt" routerLink="/pricing">Pay Now</a>
                            </div>
                        </div>
                        <div class="ml-text">
                            <h1>Features available on Newo Clan:</h1>
                            <div class="net-ot-bg-ch">
                                <h6>1. Netwood OTT</h6>
                                <p>A myriad of diversified content that our viewers can enjoy in a variety of different languages worldwide through this app. Our users will be awarded benefits and rewards simply by watching content on this OTT platform.
                                    You can avail this facility only if you are a part of the Newo Clan.
                                </p>
                            </div>
                            <div class="net-ot-bg-ch">
                                <h6>2. Netwood Stars</h6>
                                <p>Content creators of copious kinds can upload their content here directly and participate in worldwide content creation. Here, we invite you to create fun videos to share with your friends or anyone present in the space.
                                    Netwood Stars allows you to record and edit mini, multi-clip videos with audio, effects, and new creative tools where the creators get to win redeemable NEWO COIN depending on views & watch hours. You can avail of this
                                    facility only if you are a part of the Newo Clan.</p>
                                <div class="ml-txt-launch">
                                    <p class="app-launch">Launching Soon</p>
                                </div>
                            </div>
                            <div class="net-ot-bg-ch">
                                <h6>3. Newo Games</h6>
                                <p>This is a skill-based gaming app. Participants can go solo, as well as compete and play against each other. The winners shall receive lucrative awards and rewards. You can avail of this facility only if you are a part of
                                    the Newo Clan.
                                </p>
                            </div>
                            <div class="net-ot-bg-ch">
                                <h6>4. Newo Hashtag</h6>
                                <p>Now become a world-famous influencer and collaborate with your favorite brands on Newo Hashtag! For every collaboration, you will also receive interesting rewards. You can avail of this facility only if you are a part of
                                    the Newo Clan. </p>
                            </div>
                            <div class="ml-text">
                                <p class="acm">
                                    The yearly booster of the Newo Clan will be done by NEWO COINS that are earned through various in-app activities.
                                </p>
                            </div>
                            <div class="lg-rt-div">
                                <a class="lg-rt" routerLink="/pricing">Pay Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-welcomefooter></app-welcomefooter>