
<app-welcomeheader></app-welcomeheader>
<div class="mt-bt">
    <section class="sec-mt-bt" style="">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ml-tran">
                    <div class="ml-img">
                        <img src="http://52.76.117.170/htm_design/assets/images/block-chain.png" class="img-fluid">
                    </div>
                    <div class="ml-text">
                        <h1>Newo Clan</h1>
                        <p>Newo Clan is the integral core of our entire virtual digital asset community.
                            All the people who will be a part of Newo Clan, will work as a momentous slice in our loyalty
                            benefits & would often receive AIRDROPS of NEWO COIN as a form of rewards, which in the
                            long-haul is going to uplift and revolutionize their lifestyle completely so that their future
                            becomes smart, tight, and delightful!
                        </p>
                        <div class="ml-txt-launch">
                            <p class="app-launch">Launching On 1st March 2022</p>  
                        </div>

                        <!-- <div class="lg-rt-div">
                            <a class="lg-rt" routerLink="/login">Login</a>  
                        </div> -->

                    </div>
                    <div class="ml-text">
                        <h1>Features available on Newo Clan:</h1>
                        <div class="net-ot-bg-ch">
                            <h6>1. Netwood OTT</h6>
                            <p>A myriad of diversified content which our viewers can enjoy in a variety of different
                                languages worldwide through this app. Our daily users will be awarded with benefits and
                                rewards simply by watching content on this OTT platform. You can avail this facility only
                                if you are a part of the Newo Clan.
                            </p>
                        </div>
                        <div class="net-ot-bg-ch">
                            <h6>2. Netwood Stars</h6>
                            <p>Content creators of copious kind can upload their content here directly and participate in
                                the world wide content creation. Here, we invite you to create fun videos to share with
                                your friends or anyone present in the space. Netwood Stars allows you to record and
                                edit mini, multi-clip videos with audio, effects, and new creative tools where both the
                                creators & the audience get to win redeemable NEWO COIN depending on views &
                                watch hour. The selection procedure will be held through review & voting & the star
                                creators will get an opportunity to have their big break by working on Netwood OTT
                                Originals' Productions. You can avail this facility only if you are a part of the Newo Clan.
                            </p>
                            <div class="ml-txt-launch">
                                <p class="app-launch">Launching On 15th April 2022</p>
                            </div>
                        </div>

                        <div class="net-ot-bg-ch">
                            <h6>3. Newo Games</h6>
                            <p>This is a skill-based gaming app. Participants can go solo, as well as compete and play
                                against each other. The winners shall receive lucrative awards and rewards. You can
                                avail this facility only if you are a part of the Newo Clan.
                            </p>
                        </div>
                        <div class="net-ot-bg-ch">
                            <h6>4. Newo Hashtag</h6>
                            <p>Now become a world-famous influencer and collaborate with your favorite brands on
                                Newo Hashtag! For every collaboration, you will also receive interesting rewards. You
                                can avail this facility only if you are a part of the Newo Clan.
                            </p>
                            <div class="ml-txt-launch">
                                <p class="app-launch">Launching On 15th April 2022</p>
                            </div>
                        </div>
                        
                        <!-- <div class="lg-rt-div">
                            <a class="lg-rt" routerLink="/login">Login</a>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    </div>
<app-welcomefooter></app-welcomefooter>


