<div class="margin-div">
    <div class="referal-zik-zak-bg-ch">
        <div class="profile-name">
            <div class="container">
                <div class="row pr-row">
                    <div class="col-9">
                        <div class="profile-header-details">
                            <a href="javascript:void(0)" routerLink="/referral">
                                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="ref-gk-img">
                <img src="assets/images/ref-one-img.png" class="img-fluid">
            </div>
            <div class="refer-f-p">
                <p>REFER YOUR FRIENDS & FAMILY TO</p>
                <img src="assets/images/clan-ref.png" class="img-fluid">
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="gt">
                        <p>& GET</p>
                    </div>
                </div>
                <div class="col-8">
                    <div class="ref-cn">
                        <p>1 <span><img src="assets/images/zero-icon.png" class="img-fluid"></span><span><img src="assets/images/zero-icon.png" class="img-fluid"></span></p>
                    </div>
                    <div class="newo-gl">
                        <img src="assets/images/newo-gold.webp" class="img-fluid">
                        <p>When your friends & family subscribe to the program</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="ref-bl">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="ref-cl-div">
                        <img src="assets/images/ref-bl-img.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-12">
                    <div class="ref-bt-bl-2">
                        <h1>How it works</h1>
                        <p>A NEWO CLAN Member (already subscribed) can invite friends or relatives to join the NEWO CLAN program, and by doing so, the member is entitled to receive REFERRAL EARNING once the invited individuals subscribed to NEWO CLAN by
                            themselves. By participating in the Referral Program, the "Referrer' agrees to abide by Newo’s Terms & Conditions.
                        </p>
                    </div>
                    <div class="ref-qns">
                        <p>NEWO Referral Program allows NEW customers to earn promotional reward credits for future NEWO App usage by referring friends or family members to NEWO.
                        </p>
                        <h3>Who is Referrer?</h3>
                        <p>You, a registered NEWO Clan subscriber.</p>
                        <h3>Who is a Referred Customer?</h3>
                        <p>A friend or family member who has not previously registered on NEWO Clan before and to whom the Referrer shares their link.
                        </p>
                        <h3>What is Referral Link?</h3>
                        <p>A personalized referral link, provided to you by NEWO Clan.</p>
                        <h3>What are the Referral Rewards?</h3>
                        <p>Once referred, the referrer receives NEWO COINS as referral earning & the referred customer receives NEWO COINS as bounty reward after subscribing to NEWO Clan. NEWO Coin is a new-age decentralised BEP-20 token. The more you refer
                            to the app, the more you can earn by the T&C of real-time NEWO reward system.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<app-welcomefooter></app-welcomefooter>