<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a routerLink="/ottcne"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>  Cafe Netwood Episode</h2>  
                </div>
                <div class="col-md-6 col-2">
                    <p class="mp-p">7</p>
                </div>
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/cafe-seven-1.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/amar-maa-by-lagnajita" class="cf-txt-a-tag">Amar Maa by Lagnaj...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/amar-maa-by-lagnajita']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/cafe-seven-2.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/ami-chini-go-chini-by-lagnajita" class="cf-txt-a-tag">Ami Chini Go Chini...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/ami-chini-go-chini-by-lagnajita']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/cafe-seven-3.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/sokhi-rongo-koto-bol" class="cf-txt-a-tag">Sokhi Rongo Koto B...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/sokhi-rongo-koto-bol']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                        <img src="assets/images/netwood/cafe-seven-4.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/biya-legeche-by-lagnajita" class="cf-txt-a-tag">Biya Legeche by La...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/biya-legeche-by-lagnajita']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/cafe-seven-5.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/boshonto-eshe-geche-by-lagnajita" class="cf-txt-a-tag">Boshonto Eshe Gech...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/boshonto-eshe-geche-by-lagnajita']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/cafe-seven-6.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/ektara-by-lagnajita" class="cf-txt-a-tag">Ektara by Lagnajit...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/ektara-by-lagnajita']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/cafe-seven-7.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/preme-pora-baron-by-lagnajita" class="cf-txt-a-tag">Preme Pora Baron b...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/preme-pora-baron-by-lagnajita']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
<app-ottfooter></app-ottfooter>
