<app-ottheader></app-ottheader>
<div class="mt-bt">
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 col-10" >
                    <h2 class="cf-h2" *ngIf="type=='1'"><span><a routerLink="/otthome"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span> {{name}} : Season</h2> 
                    <h2 class="cf-h2" *ngIf="type=='7'"><span><a routerLink="/otthome"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span> Cafe Netwood Episode</h2>  
                </div>
                <div class="col-md-6 col-2">
                    <p class="mp-p" *ngIf="type=='1'">{{season}}</p>
                    <p class="mp-p" *ngIf="type=='7'">{{episode}}</p>
                </div>
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0" *ngFor="let epData of ottEpisodeData | keyvalue">
                    <div class="cf-img">
                        <a (click)="videoDetail($event,epData.value.id)" class="cf-txt-a-tag">
                        <img src="{{env.AWS_THUMB_URL+epData.value.thumb}}" class="img-fluid"> 
                        {{epData.value.name}}: <span *ngIf="type=='1'">Episode-{{epData.value.episode}}</span></a>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
<!-- <app-ottfooter></app-ottfooter> -->
<app-welcomefooter></app-welcomefooter>