.net-ot-bg-ch p {
    color: #fff;
    font-size: 14px;
    text-align: justify;
    font-weight: normal;
}

.sp-number {
    color: #ffc107;
    font-size: 20px;
}

.net-ot-bg-ch {
    color: #ffc107;
    font-size: 22px;
    font-weight: 900;
}