<div class="mt-bt">
    <app-welcomeheader></app-welcomeheader>
    <section class="sec-mt-bt">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ml-tran">
                        <div class="ml-text">
                            <h1>Rewards</h1>
                            <p>It pays to be a member — free gifts every day! 
                                Love that? Of course, you do. The NEWO rewards program entitles you to a sea of rewards in the shape of NEWO Coins & other exciting gifts as well on every in-app activity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="rewl_bx" data-toggle="modal" data-target="#active_spark1">
                        <div class="re2_img">
                            <img src="assets/images/ref-logo.png" class="img-fluid">
                            <p>₹ 2000 Off on Participating in <span>Expires in 1 days</span></p>
                        </div>
                        <h6>T&C</h6>
                    </div>
                </div>
                <div class="col-6">
                    <div class="rewl_bx" data-toggle="modal" data-target="#active_spark2">
                        <div class="re2_img">
                            <img src="assets/images/ref-logo.png" class="img-fluid">
                            <p>₹ 2000 Off on Participating in</p>
                            <h4>Valid till 31 May,2022</h4>
                        </div>
                        <h6>T&C</h6>
                    </div>
                </div>
                <div class="col-6">
                    <div class="rewl_bx" data-toggle="modal" data-target="#active_spark3">
                        <div class="re2_img">
                            <img src="assets/images/ref-logo.png" class="img-fluid">
                            <p>Price Drop for Plus members</p>
                        </div>
                        <h3><i class="fa fa-lock" aria-hidden="true"></i> Use from 20 May,2022</h3>  
                    </div>
                </div>
                <div class="col-6">
                    <div class="rewl_bx"  data-toggle="modal" data-target="#active_spark4">
                        <div class="re2_img">
                            <img src="assets/images/ref-logo.png" class="img-fluid">
                            <p>Price Drop for Plus members</p>
                        </div>
                        <h3>Expired</h3>  
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-welcomefooter></app-welcomefooter>
</div>

<div class="modal fade animate" id="active_spark1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content animate-bottom">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rewards</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="spk-sm">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              <div class="active-img" id="act_img" style="display: none;">
                <img src="assets/images/payment_success.gif" class="img-fluid">
                <p>Active</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  (click)="activte('act_img')">Activate</button>
        </div>
      </div>
    </div>
  </div>
   <div class="modal fade animate" id="active_spark2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content animate-bottom">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rewards</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="spk-sm">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              <div class="active-img" id="act_img2" style="display: none;">
                <img src="assets/images/payment_success.gif" class="img-fluid">
                <p>Active</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  (click)="activte('act_img2')">Activate</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade animate" id="active_spark3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content animate-bottom">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rewards</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="spk-sm">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              <div class="active-img" id="act_img3" style="display: none;">
                <img src="assets/images/payment_success.gif" class="img-fluid">
                <p>Active</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  (click)="activte('act_img3')">Activate</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade animate" id="active_spark4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content animate-bottom">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rewards</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 
        <div class="modal-body">
          <div class="spk-sm">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
              <div class="active-img" id="act_img4" style="display: none;">
                <img src="assets/images/payment_success.gif" class="img-fluid">
                <p>Active</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="activte('act_img4')">Activate</button>
        </div> 
      </div>
    </div>
  </div>  