<div class="mt-bt">
    <app-welcomeheader></app-welcomeheader>
    <section class="sec-mt-bt">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ml-tran">
                        <div class="ml-text">
                            <h1>Rewards</h1>
                            <p>It pays to be a member — free gifts every day! 
                                Love that? Of course, you do. The NEWO rewards program entitles you to a sea of rewards in the shape of NEWO Coins & other exciting gifts as well on every in-app activity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-welcomefooter></app-welcomefooter>
</div>