<app-header></app-header>
<section class="pricing">
    <div class="pricing-head-text">
        <h1>Plans for any budget so you can start today</h1>
        <p class="acm">Access the Newo Clan with a one-time in-app payment of Rs. 1999 & enjoy an array of amenities for a lifetime. The purchase would be renewed every year with only Rs. 500 worth of NewoCoins.
        <span>** Yearly renewal can be made through the accumulation of the NewoCoins earned through your activity inside Newo Clan.
        </span></p>
    </div>
    <div class="container">
        <div class="row row-pr-top">
            <div class="col-md-4">
                <div class="pricing-box pricing-bx-back-3">
                    <div class="pricing-img">
                        <img src="/assets/images/pricing-3-ch.jpg" class="img-fluid">
                        <form [formGroup]="angForm" (ngSubmit)="postdata(3)">
                            <div class="pricing-text">
                                <p>
                                    <span class="pr-span">₹ 1999</span>
                                </p>
                                <div class="input-new-box">
                                    
                                    <input type="text" class="form-control" placeHolder="Coupon Code" id="name">
                                    <a type="button" class="btn btn-primary">Apply</a>

                                </div>
                                <a type="button" class="btn btn-primary mt-3" routerLink="/payment/3/1999/INR">Subscribe Now</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->
<app-welcomefooter></app-welcomefooter>