.sec-mt-bt {
    height: 87vh;
    display: flex;
    align-items: center;
    padding: inherit !important;
}
a:hover{
    text-decoration: none; 
}
.ml-tran {
    height: inherit;
    width: 100%;
    /* margin-top: 10px; */
    margin: auto !important;
    padding: 26px 20px 1px !important;
}
.clan-btn-hm{
    margin-bottom: 25px; 
    text-align: center; 
}
.clan-btn-hm a{
    display: inline-block;
    padding: 19px 23px;
    background: #000;
    border-radius: 10px;
}
.clan-btn-hm a img{
    width: 70%;
    border-radius: 10px;
}
.mt-bt {
    position: fixed;
    width: 100%;
}
.sec-mt-bt {
    background: linear-gradient( rgba(6, 57, 98, 0.87) 100%, rgb(0 0 0 / 79%)100%), url(/assets/images/new-bg-ft2.jpg);
    padding: 20px 0px 10px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
