<div class="mobile_footer">
    <div id="p1" style="background-color: rgb(25, 36, 46);"><a routerLink="/comingsoon"><img
          src="http://3.0.255.31/NS/assets/images/rewards-ft.png" class="img-fluid" style="width: 30%;">
        <h1 id="l">Rewards</h1>
      </a></div>
    <div id="p2"><a routerLink="/comingsoon"><img src="http://3.0.255.31/NS/assets/images/referal-ft.png" style="width: 30%;">
        <h1 id="l">Referral</h1>
      </a></div>
    <div id="p3"><a routerLink="/comingsoon"><img src="http://3.0.255.31/NS/assets/images/blogs-ft.png" style="width: 30%;">
        <h1 id="l">Blogs</h1>
      </a></div>
    <div id="p4"><a routerLink="/comingsoon"><img src="http://3.0.255.31/NS/assets/images/gallery-ft.png" style="width: 30%;">
        <h1 id="l">Gallery</h1>
      </a></div>
    <div id="p5"><a href="javascript:void(0)" (click)="checkAuthFooter()"><img src="assets/images/profile-ft.png" style="width: 30%;">
        <h1 id="l">Profile</h1>
      </a></div>
  </div>
