<app-welcomeheader></app-welcomeheader>
<div class="mt-bt">
    <section class="sec-mt-bt">
        <div class="ml-tran">
            <!-- <p style="color: yellow; text-align: center; margin-top: 30%; font-size: 36px; font-weight: bolder;">Coming Soon</p> -->
            <div class="ml-txt">

                <div class="net-ot-bg-ch">
                    <h6>Newo Street</h6>
                    <p>Multi-vendor marketplace NEWO STREET enables any entrepreneur to set up their stores on the platform. They would be able to sell anything to customers worldwide. Through various eCommerce innovations like product retargeting, AI powered recommendations engine and other features, the platform would help SMBs and established brands sell better. For consumers, they would be spoilt for choice as more and more brands are available on their platform. Of course, NEWO Coin would be an option of payment available for our customers. This would be WIN-WIN for everyone involved in the ecosystem.</p>
                </div>
            </div>
        </div>
    </section>
</div>
<app-welcomefooter></app-welcomefooter>