<app-welcomeheader></app-welcomeheader>
<div class="mt-bt" style="    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(242 144 29) 0%, rgb(238 47 65) 35%, rgb(148 34 130) 100%);">
    

        <div class="features-list-new hero-section-new moving" style="color: white; padding: 25px;">
            <div class="moving-bg"></div>
            <div class="who-we-contant">
            <h2>Newo Street</h2>
            <p class="w-text fadeInUp" data-wow-delay="0.4s">Multi-vendor marketplace NEWO STREET enables any entrepreneur to set up their stores on
                the platform. They would be able to sell anything to customers worldwide. Through various
                eCommerce innovations like product retargeting, AI powered recommendations engine and
                other features, the platform would help SMBs and established brands sell better.
                For consumers, they would be spoilt for choice as more and more brands are available on their
                platform. Of course, NEWO Coin would be an option of payment available for our customers.
                This would be WIN-WIN for everyone involved in the ecosystem.</p> 
            
            </div>
            
        </div>
  
</div>
  <app-welcomefooter></app-welcomefooter>

