<app-welcomeheader></app-welcomeheader>
<div class="mt-bt">
    <section class="pr-f-section2">
        <div class="container">
            <div class="card m-5 p-3" style="padding: 0 !important;
        margin: 0 !important;">
                <div class="newsdesk_desk_div">
                    <a routerLink="/profile"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;Back</a>
                </div>
                <div class="card-body">
                        <table class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Name</th>
                                    <th>NEWO Coin</th>
                                    <th>CR/DR</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of pageOfItems">
                                    <td>{{data.name.wallet_action}}</td>
                                    <td>{{data.name.category_name}}</td>
                                    <td>{{data.name.wallet_point}}</td>
                                    <td style="color:rgb(245, 0, 0)" *ngIf="data.name.credit_debit=='Debit'">{{data.name.credit_debit_short}}</td>
                                    <td style="color:rgb(14, 255, 14)" *ngIf="data.name.credit_debit=='Credit'">{{data.name.credit_debit_short}}</td>
                                </tr>
                            </tbody>

                        </table>
                </div>
                <div class="card-footer pb-0 pt-3">
                    <jw-pagination [items]="pages" (changePage)="onChangePage($event)"></jw-pagination>
                </div>
            </div>
        </div>
    </section>
</div>
<app-welcomefooter></app-welcomefooter>