<app-header></app-header>
<div class="mt-bt">
  <section class="sec-mt-bt">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="ml-tran">
            <div class="clan-btn-hm">
              <a href="javascript: void(0);" (click)="checkForOtt('ott')">
                <img src="http://3.0.255.31/NS/assets/images/newo-ott.png" class="img-fluid"> 
              </a>
            </div>
            <div class="clan-btn-hm">
              <a href="javascript: void(0);" (click)="checkForGame('game')">
                <img src="http://3.0.255.31/NS/assets/images/newo-games.png" class="img-fluid"> 
              </a>
            </div>
            <div class="clan-btn-hm">
              <a routerLink="/">
                <img src="http://3.0.255.31/NS/assets/images/newo-hastag.png" class="img-fluid"> 
              </a>
            </div>
            <div class="clan-btn-hm">
              <a href="javascript: void(0);" (click)="checkForStarhunt('star')">
                <img src="http://3.0.255.31/NS/assets/images/newo-star.png" class="img-fluid"> 
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <app-footer><app-footer> -->
<app-welcomefooter></app-welcomefooter>