<app-header></app-header>
<div class="mt-bt">
  <section class="sec-mt-bt">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="ml-tran">
            <div class="clan-btn-hm">
              <a href="javascript: void(0);" (click)="userSubcriptionOtt()">
                <img src="/assets/images/newo-ott.png" class="img-fluid"> 
              </a>
            </div>
            
            <div class="clan-btn-hm">
              <a routerLink="/hashtag">
                <img src="/assets/images/newo-hastag.png" class="img-fluid"> 
              </a>
              </div>
              <div class="clan-btn-hm">
                <!-- <a href="javascript: void(0);" (click)="userSubcriptionGame()">
                  <img src="/assets/images/newo-games2.png" class="img-fluid"> 
                </a> -->

                <a href="https://www.gamezop.com/?id=4627">
                  <img src="/assets/images/newo-games2.png" class="img-fluid"> 
                </a>
                
              </div>
            <div class="clan-btn-hm">
              <a routerLink="/stars">
                <img src="/assets/images/newo-star2.png" class="img-fluid"> 
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <app-footer><app-footer> -->
<app-welcomefooter></app-welcomefooter>