<app-header></app-header>
<!-- <div class="mt-bt">
  <section class="sec-mt-bt">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="ml-tran">
            <div class="clan-btn-hm">
              <a href="javascript: void(0);" (click)="userSubcriptionOtt()">
                <img src="/assets/images/newo-ott.png" class="img-fluid"> 
              </a>
            </div>
            
            <div class="clan-btn-hm">
              <a routerLink="/hashtag">
                <img src="/assets/images/newo-hastag.png" class="img-fluid"> 
              </a>
              </div>
              <div class="clan-btn-hm">
                <a href="javascript: void(0);" (click)="userSubcriptionGame()">
                  <img src="/assets/images/newo-games2.png" class="img-fluid"> 
                </a>
                
              </div>
            <div class="clan-btn-hm">
              <a routerLink="/stars">
                <img src="/assets/images/newo-star2.png" class="img-fluid"> 
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->
<div class="margin-div">
    <section class="edit-profile-img">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <div class="profile-header-details">
                        <a href="#">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="header-clm-img">
                        <img src="assets/images/icon-bg.png" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="clan-div">
                        <img src="assets/images/clan-1.png" class="img-fluid">
                    </div>
                    <div class="clan-text">
                        <h1>Welcome to</h1>
                        <img src="assets/images/newo-cln.png" class="img-fluid">
                        <!-- <p>The integral core of our entire virtual digital asset community. All the people who will be a part of Newo Clan, will work as a momentous slice in our loyalty benefits & would often receive AIRDROPS of NEWO COIN as a form of rewards,
                            which in the long-haul is going to uplift and revolutionize their lifestyle completely so that their future becomes smart, tight, and delightful!</p> -->
                            <p>
                                NEWO Clan is the essential hub of our complete network of virtual digital assets. All members of NEWO Clan will have access to countless entertaining features and a significant portion of our loyalty benefits and frequent NEWO COIN as a form of reward when you make the most of the features offered. The excellent referral program here allows you to earn in return for referring the app to your friends and family. NEWO Clan subscribers will also be able to participate in the sensational DreamSpin, which over time will completely improve and revolutionize their way of life so that their future is secure, easy, and enjoyable.
                            </p>

                            
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="clan-div">
                        <img src="assets/images/clan-2.png" class="img-fluid">
                    </div>
                    <div class="clan-text">
                        <!-- <p>Access the Newo Clan with a one-time in-app payment of Rs. 1999 & enjoy an array of amenities for a lifetime. The purchase would be renewed every year with only Rs. 500 worth of NewoCoins. ** Yearly renewal can be made through
                            the accumulation of the NewoCoins earned through your activity inside Newo Clan.</p> -->
                            <p>
                                Access the Newo Clan with a one-time in-app subscription fee & enjoy an array of amenities for a lifetime.
                            </p>
                    </div>
                    <!-- <div class="join-div-cln">
                      <button type="submit" class="btn btn-primary">JOIN NOW</button>
                  </div> -->
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="newo-in-h1 mb-3">
                        <span>FEATURES</span><span class="art_btn_sm"><img src="assets/images/ar-btn.png" class="img-fluid"></span>
                    </div>
                    <div class="clan-div">
                        <a href="javascript: void(0);" (click)="userSubcriptionOtt()">
                            <!-- <img src="assets/images/clan-3.png" class="img-fluid"> -->
                            <div class="net_ott">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="ot-net-img">
                                                <img src="assets/images/net-ot.png" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                        </div>
                                        <div class="col-5">
                                            <div class="ot-icon-vd">
                                                <img src="assets/images/ott-vd-icon.webp" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <!-- <div class="col-6">
                                            <div class="ot-im-vd">
                                                <img src="https://newoott.s3.ap-southeast-1.amazonaws.com/thumb/T1655290713.jpg" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="ot-im-vd">
                                                <img src="https://newoott.s3.ap-southeast-1.amazonaws.com/thumb/T1655129046.jpg" class="img-fluid">
                                            </div>
                                        </div> -->
                                        <div class="col-6" *ngFor="let pData of latestPosterData | keyvalue">
                                            <div class="ot-im-vd">
                                                <img src="{{env.AWS_THUMB_URL+pData.value.thumb}}" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="clan-text">
                        <p>Control what you want to watch, when you want it, with no ads. At Netwood OTT, we want to entertain Newo Clan subscribers. Whatever your taste, and no matter where you live, we give you access to best-in-class series, movies, music videos, and whatnot! Netwood OTT is the biggest fan of entertainment & in here, we’re always looking to help you find your next favorite story. Netwood OTT is the first ever streaming platform where the more you watch & rewatch content, the more you earn rewards.
                        </p>
                        <div class="right-arrow-features">
                            <a href="#"><img src="assets/images/ar-btn.png" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="clan-div">
                        <a routerLink="/stars">
                            <img src="assets/images/clan-4.png" class="img-fluid">
                        </a>
                    </div>
                    <div class="clan-text">
                        <p>A platform centered around short videos. With videos ranging between five and 120 seconds in length. Netwood Stars is the leading destination for short-form mobile videos with a mission to inspire creativity and bring joy. Here at Netwood Stars, the more eyes your content catches, the closer you move to win rewards!</p>
                        <div class="right-arrow-features">
                            <a href="#"><img src="assets/images/ar-btn.png" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="clan-div">
                        <a href="javascript: void(0);" (click)="userSubcriptionGame()">
                            <img src="assets/images/clan-5.png" class="img-fluid">
                        </a>
                    </div>
                    <div class="clan-text">
                        <p>Whether you’re craving a casual game you can start from scratch or an immersive experience that lets you dig deeper into the gaming world, we’ve built a library of games that offers something for everyone. NEWO Games has designed games for any level of play and every kind of player, whether you’re a beginner or a lifelong gamer. Participants can go solo, as well as compete and play against each other. The winners shall receive lucrative awards and rewards with no hidden cost per game. So what are you waiting for? Let the games begin 🎮📱.
                        </p>
                        <div class="right-arrow-features">
                            <a href="#"><img src="assets/images/ar-btn.png" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="clan-div">
                        <a href="javascript: void(0);" routerLink="/hashtag">
                            <img src="assets/images/clan-6.png" class="img-fluid">
                        </a>
                    </div>
                    <div class="clan-text">
                        <p>NEWO Hashtag is a managed marketplace between Brands and Influencers. Our mission is to democratize marketing. Influencers here can choose from hundreds of brand collaborations, turning marketing into honest social conversations. The better you influence people here, the more rewards you get from the brand’s end. Besides, you’re always entitled to win advantages from Newo.</p>
                        <div class="right-arrow-features">
                            <a href="#"><img src="assets/images/ar-btn.png" class="img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- <app-footer><app-footer> -->
<app-welcomefooter></app-welcomefooter>