<div>
    <section class="hastag-user-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="edit-form">
                        <form>
                            <div id="edit-one" id="editone">
                          <div class="form-group">
                            <label class="edit-label" for="">Email Id</label>
                            <input type="email" class="form-control" id="textname" aria-describedby="emailHelp">
                          </div>
                          <div class="form-group">
                            <label class="edit-label" for="">User Name</label>
                            <input type="text" class="form-control" id="email-text" aria-describedby="emailHelp">
                          </div>
                                <div class="form-group">
                                  <label class="edit-label" for="">Password</label>
                                  <input type="password" class="form-control" id="phone-text" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                  <label class="edit-label" for="">Confirm Password</label>
                                  <input type="password" class="form-control" id="phone-text" aria-describedby="emailHelp">
                                </div>
                            
                            
                            <div class="step">
                                <button class="btn btn-primary" id="stepfunone">
                                    Next step
                                </button>
                            </div>
                        </div>
                        <div id="edit-one" id="editwo" style="display: none;">
                            <div class="form-group">
                              <label class="edit-label" for="">Email Id</label>
                              <input type="email" class="form-control" id="textname" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                              <label class="edit-label" for="">User Name</label>
                              <input type="text" class="form-control" id="email-text" aria-describedby="emailHelp">
                            </div>
                                  <div class="form-group">
                                    <label class="edit-label" for="">Password</label>
                                    <input type="password" class="form-control" id="phone-text" aria-describedby="emailHelp">
                                  </div>
                                  <div class="form-group">
                                    <label class="edit-label" for="">Confirm Password</label>
                                    <input type="password" class="form-control" id="phone-text" aria-describedby="emailHelp">
                                  </div>
                              
                              
                              <div class="step">
                                  <button class="btn btn-primary"  id="stepfuntwo">
                                     Previous Step
                                  </button>
                              </div>
                          </div>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>