
<ngx-alerts></ngx-alerts>
<div class="campaign-bottom">
  <section class="header-main">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-8">
          <div class="has-logo">
            <span><img src="assets/logo/n-hastag.webp" class="img-fluid"></span>
          </div>
        </div>
        <div class="col-md-4 col-4">
          <div class="back_btn_div">
            <a routerLink="/hashtag"><span>Back</span>
              <div class="liquid"></div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="header-main-new">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-3">

        </div>
        <div class="col-md-8 col-9">
          <div class="eidt-camp2">
            <span><a routerLink="/myallcampaign" class="btn-primary2">All
                Campaigns</a></span>
            <span><a routerLink="/mypendingcampaign" class="btn-primary2">Pending
                Campaigns</a></span>
          </div>
        </div>
        <!-- <div class="col-md-4 col-4"> 
                <div class="img-source">
                     <img src="assets/images/ovter.png">
                </div>
               
            </div> -->
      </div>
    </div>
  </section>

  <section class="new-from pt-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="main-text-head">
            <div class="accordion pb-2" id="accordionExample">
              <div class="card">
                <div class="card-header" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <span class="title">Profile</span>
                  <span class="accicon"><i class="fa fa-angle-down rotate-icon"
                      aria-hidden="true"></i></span>
                </div>
                <div id="collapseOne" class="collapse show"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <div>
                      <section class="hastag-user-section">
                        <div class="">
                          <div class="row">
                            <div class="col-12">
                              <div class="edit-form">
                                <form [formGroup]="UserForm"
                                  >
                                  <div id="edit-one" id="editone">
                                    <div class="form-group">
                                      <label class="edit-label">Name</label>
                                      <input type="text" class="form-control"
                                        formControlName="name">
                                    </div>
                                    <div class="form-group">
                                      <label class="edit-label">Email</label>
                                      <input type="text" class="form-control"
                                        id="email-text"
                                        aria-describedby="emailHelp"
                                        value="{{userid}}" readonly disabled>
                                    </div>
                                    <div class="form-group">
                                      <label class="edit-label">Mobile</label>
                                      <input type="text" class="form-control"
                                        id="phone-text"
                                        aria-describedby="emailHelp"
                                        formControlName="mobile">
                                    </div>
                                    <div class="form-group">
                                      <label class="edit-label">Date Of
                                        Birth</label>
                                      <input type="date" class="form-control"
                                        id="phone-text"
                                        aria-describedby="emailHelp"
                                        formControlName="dob">
                                    </div>
                                    <div class="form-group">
                                      <label class="edit-label">Language</label>
                                      <select class="form-control"
                                        id="phone-text"
                                        formControlName="language"
                                        aria-describedby="emailHelp">
                                        <option value="">Select Language</option>
                                        <option
                                          *ngFor="let
                                          lang of language_list"
                                          value="{{lang.id}}">{{lang.language}}
                                        </option>
                                      </select>
                                    </div>

                                    <div class="form-group">
                                      <label class="edit-label">Maritial
                                        Status</label>
                                      <select name="" id="" class="form-control"
                                        formControlName="maritial">
                                        <option value="">Select Maritial Status</option>
                                        <option value="Married">Married</option>
                                        <option value="Unmarried">Unmarried</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label class="edit-label">Profession</label>
                                      <select name="" id="" class="form-control"
                                        formControlName="profession">
                                        <option value="">Select Profession</option>
                                        <option value="{{profession.id}}"
                                          *ngFor="let profession of
                                          professions_list">
                                          {{profession.profession_name}}</option>
                                      </select>
                                    </div>
                                    <div class="stepsm">
                                      <a class="btn-primary-next"
                                        id="stepfunone">
                                        Next step
                                      </a>
                                    </div>
                                  </div>
                                  <div id="edit-one" id="editwo" style="display:
                                    none;">

                                    <div class="form-group">
                                      <label class="edit-label">Country</label>
                                      <select name="" class="form-control"
                                        formControlName="country"
                                        id="textname"
                                        aria-describedby="emailHelp">
                                        <option value="">Select Your Country</option>
                                        <option value="{{country.id}}"
                                          *ngFor="let country of countryList">
                                          {{country.Name}}</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label class="edit-label">State</label>
                                      <input type="text" class="form-control"
                                        formControlName="state"
                                        id="textname"
                                        aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                      <label class="edit-label">City</label>
                                      <input type="email" class="form-control"
                                        formControlName="city"
                                        id="textname"
                                        aria-describedby="emailHelp">
                                    </div>

                                    <div class="form-group">
                                      <label class="edit-label" for="">Pin Code</label>
                                      <input class="form-control"
                                        formControlName="pincode"
                                        id="textname"
                                        aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-group">
                                      <label class="edit-label" for="">Address</label>
                                      <textarea name="" id="" cols="30" rows="5"
                                        class="form-control"
                                        formControlName="address"
                                        aria-describedby="emailHelp">
                                      </textarea>
                                    </div>
                                    <div>
                                      <button
                                        class="btn-primary-next"
                                        (click)="addUser()">Update</button>
                                    </div>
                                    <div class="step">
                                      <a class="btn-primary-next"
                                        id="stepfuntwo">
                                        Previous Step
                                      </a>
                                    </div>
                                  </div>


                                </form>

                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="accordion pb-2" id="accordionExample">
              <div class="card">
                <div class="card-header" data-toggle="collapse"
                  data-target="#collapseTwo" aria-expanded="true"
                  aria-controls="collapseTwo">
                  <span class="title">Bank Details</span>
                  <span class="accicon"><i class="fa fa-angle-down rotate-icon"
                      aria-hidden="true"></i></span>
                </div>
                <div id="collapseTwo" class="collapse show"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <div>
                      <section class="hastag-user-section">
                        <div class="">
                          <div class="row">
                            <div class="col-12">
                              <div class="edit-form">
                                <form [formGroup]="addUserBankForm"
                                  >
                                  <div id="edit-one" id="editone">
                                    <div class="form-group">
                                      <label class="edit-label" for="">Bank Name</label>
                                      <input type="text"
                                        id="textname" name="bankname"
                                        aria-describedby="emailHelp"
                                        class="form-control"
                                        formControlName="bankname">
                                    </div>
                                    <div class="form-group">
                                      <label class="edit-label" for="">A/C
                                        Holder Name</label>
                                      <input type="text"
                                        id="textname"
                                        aria-describedby="emailHelp"
                                        class="form-control"
                                        formControlName="acholder">
                                    </div>

                                    <div class="form-group">
                                      <label class="edit-label" for="">Account
                                        Number</label>
                                      <input type="text"
                                        id="email-text" name="email"
                                        aria-describedby="emailHelp"
                                        class="form-control"
                                        formControlName="acnumber">
                                    </div>
                                    <div class="form-group">
                                      <label class="edit-label" for="">Ifsc Code</label>
                                      <input type="text"
                                        id="phone-text"
                                        aria-describedby="emailHelp"
                                        class="form-control"
                                        formControlName="ifsc">
                                    </div>
                                    <div class="form-group">
                                      <label class="edit-label" for="">Upi Id</label>
                                      <input type="text"
                                        id="textname"
                                        aria-describedby="emailHelp"
                                        class="form-control"
                                        formControlName="upiid">
                                    </div>
                                    <div>
                                      <button
                                        class="btn-primary-next"
                                        (click)="addUserBank()">Update</button>
                                    </div>
                                  </div>
                                </form>

                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="card card-header">
              <p class="hastag-cl" routerLink="/categorymaster">Hashtag Interest<i
                  aria-hidden="true" class="fa fa-angle-down rotate-icon"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



</div>

<app-welcomefooter></app-welcomefooter>