
<app-header></app-header>
  
<section class="contentent-data-section">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="cre-h2">Creator Content</h2>
              <div class="cre-div-sm" *ngFor="let listdata of list | keyvalue"  [value]="listdata.value.id">
                  <!-- <div class="cre-div-sm"> -->
                  <video width="100%" height="100%" controls="">
                      <source src={{baseURL}}{{listdata.value.creator_video}} type="video/mp4">
                  </video>
                  <p>{{listdata.value.video_title}}</p>
                  <div class="row">
                      <div class="col-4">
                          <a href="javascript:Void(0);">
                              <div class="vl-div">
                                  <h4>Visibility</h4>
                                  <p><i class="fa fa-eye" aria-hidden="true"></i>Public</p>  
                              </div> 
                            </a>
                      </div>  
                      <div class="col-4">
                        <a href="javascript:Void(0);">
                              <div class="vl-div" >
                                  <h4>Date</h4>
                                  <p><i aria-hidden="true"></i>{{listdata.value.upload_datetime}}</p>  
                              </div> 
                          </a>
                      </div>
                      <div class="col-4">  
                          <div class="cre-con-a-tag">
                              <a (click)="viewMore($event,listdata.value.id)" class="go-vd-a-tag">VIEW MORE</a>  
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>  
  </div>
</section>
<app-footer></app-footer>
