<app-welcomeheader></app-welcomeheader>
<div class="mt-bt">
    <section class="sec-mt-bt">
        <div class="ml-tran">

            <div class="features-list-new hero-section-new moving" style="color: white; padding: 25px;">
                <div class="moving-bg"></div>
                <div class="who-we-contant">
                    <div class="net-ot-bg-ch">
                        <h2>Newo NFT Art Marketplace</h2>
                        <p class="w-text fadeInUp" data-wow-delay="0.4s">NFT ART is the hottest topic in the
                            cryptocurrency space. Tied to the cause of rewarding
                            creators, selling NFT ART through it's platform is also the next big step for NEWO
                            ecosystem.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-welcomefooter></app-welcomefooter>