<app-welcomeheader></app-welcomeheader>
<div class="mt-bt" style="    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(242 144 29) 0%, rgb(238 47 65) 35%, rgb(148 34 130) 100%);">
    

        <div class="features-list-new hero-section-new moving" style="color: white; padding: 25px;">
            <div class="moving-bg"></div>
            <div class="who-we-contant">
            <h2>Newo NFT Art Marketplace</h2>
            <p class="w-text fadeInUp" data-wow-delay="0.4s">NFT ART is the hottest topic in the cryptocurrency space. Tied to the cause of rewarding
                creators, selling NFT ART through it's platform is also the next big step for NEWO
                ecosystem.</p> 
            
            </div>
            
        </div>
  
</div>
  <app-welcomefooter></app-welcomefooter>


