<div class="mt-bt">
    <app-welcomeheader></app-welcomeheader>
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-4 col-4">
                    <div class="cf-img">
                        <img src="assets/images/gal_img1.jpeg" class="img-fluid"> 
                    </div>
                </div>
                <div class="col-md-4 col-4">
                    <div class="cf-img">
                        <img src="assets/images/gal_img2.jpeg" class="img-fluid"> 
                    </div>
                </div>
                <div class="col-md-4 col-4">
                    <div class="cf-img">
                        <img src="assets/images/gal_img3.jpeg" class="img-fluid"> 
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-md-4 col-4">
                    <div class="cf-img">
                        <img src="assets/images/gal_img4.jpeg" class="img-fluid"> 
                    </div>
                </div>
            </div> 
        </div> 
    <app-welcomefooter></app-welcomefooter>
</div>