<app-welcomeheader></app-welcomeheader>
<div class="mt-bt">
    <section class="sec-mt-bt">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ml-tran">
                        <div class="ml-text">
                            <h1>Newo Exchange</h1>
                            <p>An exciting place where you get only top-notch virtual digital assets along with our personal Newo coin, which in itself is a BEP 20 token.
                            </p>
                        </div>

                        <div class="ml-text">
                            <div class="net-ot-bg-ch">
                                <ul>
                                    <li>Each trade will incur a low-cost market fee.</li>
                                    <li>Account holders here would get to emplace nominees, which is a unique concept in this exchange sphere.</li>
                                    <li>High-security wallet to ensure your virtual digital assets.</li>
                                    <li>Besides, there are remunerative options like trading, limit order, stake your token, and many more exciting features.</li>
                                </ul>
                                <p class="acm">
                                    <span>** We will share the NEWO Exchange App download link shortly. Stay tuned... **</span>
                                </p> 
                                <!-- <a class="lg-rt" routerLink="/login">Login</a> -->
                            </div>
                        </div> 
                        <div class="ml-txt">
                            <p class="app-launch">Launching On 21st March 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-welcomefooter></app-welcomefooter>