<div class="body-strucre">

    <section class="top-bar-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="main-wishlist-1">
                        <div> <a routerLink="/multiplexhome"><img src="assets/logo/back-btn.webp" class="img-fluid"></a>
                        </div>
                        <h3>Recommended For You</h3>
                    </div>
                </div>
               

            </div>

        </div>
    </section>
    <div *ngFor="let item of wishListShow">
        <section class="second-part-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">


                        <div class="t-b-s-background">
                            <a routerLink="/multiplexcheckout/{{item.id}}">
                                <div class="show-box new-box">
                                    <img src="{{env.multiplex_poster_url+item.image}}" class="img-fluid">
                                </div>
                            </a>
                            <div class="container">
                                <div class="row">
                                    <div class="col-3">

                                    </div>
                                    <div class="col-9 chat-chati">
                                        <ul>
                                            <a (click)="checkSubscribe(item.id,item.purchase_time,yesterday)">
                                                <li><span class="movie">{{item.name}}</span></li>
                                                <li><span>{{item.duration_time}}</span><span
                                                        class="main-date">{{item.year}}</span></li>
                                                <li><span>{{item.genere_name}}</span></li>
                                            </a>
                                            <li class="star">
                                                <img src="assets/images/rating-fill.svg" class="img-fluid">
                                                <span class="date-text">{{item.rating}}/10</span>

                                                <span class="main-whistlist-new">
                                                    <span *ngIf="item.wishlist_status!=1"><a
                                                            (click)="addWishList(item.id)"><img
                                                                src="assets/logo/wishlist.svg" class="img-fluid"></a>
                                                    </span>
                                                    <span *ngIf="item.wishlist_status==1"><a
                                                            (click)="removeWishList(item.id)"><img
                                                                src="assets/logo/wishlisted.svg" class="img-fluid"></a>
                                                    </span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- <section class="second-part-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                                        <div class="t-b-s-background"> 
                                                        
                                                    <div class="show-box new-box">
                                                        <img src="assets/images/poster3.webp" class="img-fluid">
                                                    </div> 
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-3">
                                                
                                                </div>
                                                <div class="col-9 chat-chati">
                                                <ul>
                                                    <li><span class="movie">The Common Mind</span></li>
                                                    <li><span>2 hr 02 min</span><span class="main-date">2022</span></li>
                                                    <li><span>Romance, Muisc</span></li>
                                                <li class="star">
                                                        <span><img src="assets/images/rating-fill.svg" class="img-fluid"></span>
                                                        <span class="date-text">8.5/10</span>
                                                        <span class="main-whistlist-new"><img src="assets/logo/wishlisted.svg" class="img-fluid"></span>
                                                    </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                       
                </div>
            </div>
        </div>
    </section>
           
    <section class="second-part-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                                        <div class="t-b-s-background"> 
                                                        
                                                    <div class="show-box new-box">
                                                        <img src="assets/images/poster4.webp" class="img-fluid">
                                                    </div> 
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-3">
                                                
                                                </div>
                                                <div class="col-9 chat-chati">
                                                <ul>
                                                    <li><span class="movie">The Common Mind</span></li>
                                                    <li><span>2 hr 02 min</span><span class="main-date">2022</span></li>
                                                    <li><span>Romance, Muisc</span></li>
                                                <li class="star">
                                                        <span><img src="assets/images/rating-fill.svg" class="img-fluid"></span>
                                                        <span class="date-text">8.5/10</span>
                                                        <span class="main-whistlist-new"><img src="assets/logo/wishlisted.svg" class="img-fluid"></span>
                                                    </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                       
                </div>
            </div>
        </div>
    </section>
    <section class="second-part-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                                        <div class="t-b-s-background"> 
                                                        
                                                    <div class="show-box new-box">
                                                        <img src="assets/images/poster5.webp" class="img-fluid">
                                                    </div> 
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-3">
                                                
                                                </div>
                                                <div class="col-9 chat-chati">
                                                <ul>
                                                    <li><span class="movie">The Common Mind</span></li>
                                                    <li><span>2 hr 02 min</span><span class="main-date">2022</span></li>
                                                    <li><span>Romance, Muisc</span></li>
                                                <li class="star">
                                                        <span><img src="assets/images/rating-fill.svg" class="img-fluid"></span>
                                                        <span class="date-text">8.5/10</span>
                                                        <span class="main-whistlist-new"><img src="assets/logo/wishlisted.svg" class="img-fluid"></span>
                                                    </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                       
                </div>
            </div>
        </div>
    </section> -->

</div>

<app-welcomefooter></app-welcomefooter>