.body-strucre{margin-bottom: 100px;}
.t-b-s-background {
    background: #462aa1;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}
    .top-text-sm ul li{
        position: relative;
    }
   /* .top-text-sm ul li:nth-child(4):after {
    position: absolute;
    content: '';
    width: 73px;
    height: 20px;
    left: 22px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 181b3e%, rgba(24,27,62,1) 181b3e%);
    background: rgb(26,28,66);
    background: linear-gradient(277deg, rgba(26,28,66,1) 0%, rgb(26 28 66 / 89%) 100%);
} */
    
  
    .date-text{font-size: 12px;margin: 0 5px;}
    .top-header-sec{background-image: url(/assets/images/banner-bg.jpg);background-size: cover;background-repeat: no-repeat;}
    .top-sm-ban{margin-top: -40px;}
    .mobile img{margin-top: -128px;}
    .top-text-sm ul li {display: inline-block;list-style: none;margin: 20px 8px;font-weight:500;}
    .top-text-sm ul li a{color:#59429d; }
    .top-text-sm ul {padding: 0;}
    .search-btn {
    position: absolute;
    top: -60px;
    width: 7%;
    right: 24px;
}
    
    
        .it-main{
        position: relative;
    }
    .it-main-im img{
        border-radius: 20px;
    }
 
    .bottom-img {background-image: url(/assets/images/movie-block-bg.webp);background-repeat: no-repeat;background-size: cover;border-radius: 20px;}
    .bottom-img{
        position: relative;
    }
   
   .block-n-text {
    padding: 10px 15px;height: 161px;}
    .bottom-img {
    position: relative;
    margin-top: -143px;
    margin-left: 20px;
    margin-right: 20px;
}
    .bottom-img img{
        border-radius: 20px;
      
    }
    .block-n-text p{
        font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1rem;
        color: #fff
    }
    .bg-f-img{
        display: inline-flex;
        margin: 5px 17px;
    }
    .bg-f-img img{
        width: 15% !important;
    margin-right: 5px;
    }
    .rating-text{
        color: #fff;
        font-size: 12px;
    }
    .text-bg p{font-size: 12px;}
    .bg-f-img-text p{font-size: 18px;
    color: #493783;
    font-weight: 500;
    text-align: center
}
    .book-now{
    position: relative;
    top: -40px!important;;
    left: 13px;
    }
    .bg-f-img-text{font-size: 20px;color: #000; font-weight: 500}
    
    .bg-f-img-text img {
    width: 11px !important;
    margin: -13px 39px;
}
    .second-part{margin: 15px 10px;}
    .thirt-part p{color: #fff;font-size: 14px;}
    .thirt-part{margin: 5px 10px;}
    .second-part p{color: #fff; font-size: 14px;}
    .owl-prev span{padding: 4px 10px;
    background: #4a3884;
    border-radius: 3px;} 
    .owl-next span{padding: 4px 10px;
    background: #4a3884;
    border-radius: 3px;
    }
    .owl-nav{text-align: right !important;}
    /* .t-b-s-background{
        background: #6850b2;
} */
    .show-box img{border-radius: 10px;}
    .chat-chati ul li{list-style: none;}
    .chat-chati ul li{color: #fff;line-height:1.5rem;}
   
    .movie{font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: capitalize;}
    .chat-chati li{font-size: 13px;}
    .bg-f-img1 img {
 width: 6% !important;
    margin: -8px 5px 0 -1px;


}
    .bg-f-img1 {
    display: inline-flex;
    }
    .show-box{margin: 10px;}
    .show-box img{
   width: 26% !important;
    position: absolute;
    top: 0px;
}
    .chat-chati ul{padding: 10px 16px;
    margin: 0 0px;}
    .frisr-child a{color: #fff!important;font-size: 18px;}
    .main-date{float: right;margin: 0 -15px;}
    .main-whistlist img {
    width: 20%!important;
    float: right;
    margin: 0 -2px;
}
    
    .cal img{width: 8% !important;display: inline-block !important;}
    .star img{width: 6% !important;display: inline-block !important;}
   
    .main-whistlist-new img {
    width: 13%!important;
    float: right;
    margin: 0 -15px;
}

.view-all p{float: right; font-size: 12px;}
.book-m-new img{border-radius: 0;}


.main-wishlist-1 img{
    width: 10%;
    margin-bottom: 5px;
}
.main-wishlist-1 h3{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-wishlist-1{padding: 10px 15px;}

    
    
     
    

@media (min-width: 320px) and (max-width: 375px) {
    
    .show-box img{
        width: 27% !important;
         position: absolute;
         top: 0px;
       }
    
}


   