<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a routerLink="/ottcne"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>  Cafe Netwood Episode</h2>  
                </div>
                <div class="col-md-6 col-2">
                    <p class="mp-p">1</p>
                </div>
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/sawarne-lage-by-underground-authority" class="cf-txt-a-tag"><img src="assets/images/netwood/1756.jpg" class="img-fluid">Sawarne Lage by Un...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/blurry-by-underground-authority" class="cf-txt-a-tag"><img src="assets/images/netwood/1755.jpg" class="img-fluid">Blurry by Undergro...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/microphone-by-underground-authority" class="cf-txt-a-tag"><img src="assets/images/netwood/1754.jpg" class="img-fluid">Microphone by Unde...</a>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/hogi-subah-by-underground-authority" class="cf-txt-a-tag"><img src="assets/images/netwood/1753.jpg" class="img-fluid">Hogi Subah by Unde...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/i-am-an-indian-by-underground-authority" class="cf-txt-a-tag"><img src="assets/images/netwood/1752.jpg" class="img-fluid">I Am An Indian by ...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/insaaf-ka-quatil-by-underground-authority" class="cf-txt-a-tag"><img src="assets/images/netwood/1751.jpg" class="img-fluid">Insaaf Ka Quatil b...</a>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/udta-punjab-jee-karda-mashup-by-underground-authority" class="cf-txt-a-tag"><img src="assets/images/netwood/1750.jpg" class="img-fluid">Udta Punjab Jee Ka...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/pehchaan-by-underground-authority" class="cf-txt-a-tag"><img src="assets/images/netwood/1749.jpg" class="img-fluid">Pehchaan by Under...</a>
                    </div>
                </div>
            </div>
        </div>
      </section>
<!-- <app-ottfooter></app-ottfooter> -->
<app-welcomefooter></app-welcomefooter>