<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a routerLink="/ottcne"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>  Cafe Netwood Episode</h2>  
                </div>
                <div class="col-md-6 col-2">
                    <p class="mp-p">1</p>
                </div>
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1756.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/sawarne-lage-by-underground-authority" class="cf-txt-a-tag">Sawarne Lage by Un...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/sawarne-lage-by-underground-authority']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1755.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/blurry-by-underground-authority" class="cf-txt-a-tag">Blurry by Undergro...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/blurry-by-underground-authority']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1754.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/microphone-by-underground-authority" class="cf-txt-a-tag">Microphone by Unde...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/microphone-by-underground-authority']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                        <img src="assets/images/netwood/1753.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/hogi-subah-by-underground-authority" class="cf-txt-a-tag">Hogi Subah by Unde...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/hogi-subah-by-underground-authority']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1752.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/i-am-an-indian-by-underground-authority" class="cf-txt-a-tag">I Am An Indian by ...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/i-am-an-indian-by-underground-authority']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1751.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/insaaf-ka-quatil-by-underground-authority" class="cf-txt-a-tag">Insaaf Ka Quatil b...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/insaaf-ka-quatil-by-underground-authority']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1750.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/udta-punjab-jee-karda-mashup-by-underground-authority" class="cf-txt-a-tag">Udta Punjab Jee Ka...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/udta-punjab-jee-karda-mashup-by-underground-authority']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1749.jpg" class="img-fluid"> 
                        <a routerLink="../ottvideodetail/pehchaan-by-underground-authority" class="cf-txt-a-tag">Pehchaan by Under...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/pehchaan-by-underground-authority']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
<app-ottfooter></app-ottfooter>
