<app-header></app-header>
      <section class="rating-video">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="rt-video-div">
                        <video width="100%" height="100%" controls>
                            <source src={{video_link}} type="video/mp4">
                            <!-- <source src="assets/video/Intro.ogg" type="video/ogg"> -->
                        </video>
                    </div>
                </div>
            </div>  
        </div>
      </section>
      <section class="movie-description">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="movie-des-text">
                        <h6>{{video_desc}}</h6>
                        <div class="ed-cm">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-pencil" (click)="editData($event)" aria-hidden="true"></i></a></li>
                                <li>
                                    <div class="dropdown">  
                                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                      </a>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Edit title and description</a>
                                        <a class="dropdown-item" href="#">Get shareable link</a>
                                        <a class="dropdown-item" href="#">Promote</a>
                                        <a class="dropdown-item" href="#">Download</a>
                                        <a class="dropdown-item" href="#">Delete forever</a>
                                      </div>
                                    </div>  
                                </li>
                            </ul>  
                        </div>
                        <div class="pb-ul-div">
                            <ul class="pb-ul">  
                                <li><p>Visibility :</p></li>
                                <li><span>Public</span></li>
                                <li>
                                    <div class="dropdown">  
                                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       <i class="fa fa-eye eye-fnt" aria-hidden="true"></i>
                                      </a>

                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <p class="save-p">Save or published</p>
                                        <a class="dropdown-item" href="#"><input type="radio" name="options" id="option1" checked> Private</a>
                                        <a class="dropdown-item" href="#"><input type="radio" name="options" id="option2"> Unlisted</a>
                                        <a class="dropdown-item" href="#"><input type="radio" name="options" id="option3"> Public</a>
                                      </div>    
                                    </div>
                                </li>
                            </ul>
                        <p>Restrictions : <span>None</span></p>
                        <p>Date : <span>{{date}}</span></p>
                        <p>Views : <span>3,940</span></p>
                        <p>Comments : <span>15</span></p>
                        <p>Likes : <span>98</span></p> 
                        <p>Dislike : <span>5</span></p>
                        </div>
                        <div class="publish-div mt-3">
                        <h2>Video Comments</h2>
                            <div class="row">
                                <div class="col-3">
                                    <div class="df-img">
                                        <img src="../assets/images/pricing-3-ch.jpg" class="img-fluid"> 
                                    </div>
                                </div>
                                <div class="col-8 p-0">
                                    <div class="nm-hr-div">
                                        <p>Chotu Das 1994<span>3 months ago</span><span class="inter-sp">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></p>   
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <span class="pub-div-sp"><span class="no-value">Reply</span></span>
                                    <span class="pub-div-sp"><span class="no-value">0 Replies</span></span>
                                    <span class="pub-div-sp"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span class="no-value"></span></span>
                                    <span class="pub-div-sp"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i><span class="no-value"></span></span>
                                    <span class="pub-div-sp"><i class="fa fa-heart-o" aria-hidden="true"></i><span class="no-value"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
      </section>
      <app-footer></app-footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <script src="../assets/js/main.js"></script> -->
  <!-- </body>
</html> -->

