<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="../assets/css/audition-style.css">-->

    <title>Netwood</title>
  </head>
  <body class="user-body">
      <section class="user-top-header">
          <div class="container">
            <div class="row">
                <div class="col-10">
                  <h1 class="pro-h1">Submission</h1>
              </div>
              <div class="col-md-2 col-2">
                  <div class="dropdown-div">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="javascript:void(0)" routerLink="">Home</a>  
                            <a class="dropdown-item" href="javascript:void(0)" routerLink="/userhome">Dashboard</a>  
                            <a class="dropdown-item" href="javascript:void(0)" routerLink="/userprofile">Profile</a>  
                            <a class="dropdown-item" href="javascript:void(0)" routerLink="/usersubbmission">Submission</a>  
                        </div>
                      </div>
                  </div>
              </div>   
            </div>
          </div>
      </section>
