<div class="margin-div">
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="newo-img">
                        <img src="assets/images/logo.webp" class="img-fluid">
                    </div>
                </div>
                <div class="offset-6 col-2 text-center">
                    <div class="round-img">
                        <a routerLink="/profile">
                            <!-- <img src="assets/images/face-round.png" class="img-fluid"> -->
                            <svg width="88%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                <g>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M43.215,433.924c5.125,59.787,50.392,77.723,103.346,77.723   c60.641,0,121.282,0,181.923,0c46.975,0,108.471,7.687,133.239-48.684c17.082-39.289,3.416-120.428-13.666-155.446   c-10.249-20.498-24.769-38.434-42.705-48.684c-63.203-34.164-71.744,17.082-133.239,26.477   c-75.161,11.103-86.264-48.684-140.926-35.018C56.881,268.229,38.09,368.159,43.215,433.924L43.215,433.924z" fill="#fff"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M237.949,0.896c-63.203,8.541-116.157,64.911-106.762,139.218   c7.687,62.349,65.766,114.449,139.218,105.054c61.495-7.687,113.595-65.766,104.2-138.364   C366.918,46.163,310.548-7.645,237.949,0.896L237.949,0.896z" fill="#fff"></path>
                                </g>
                                </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a href="#" data-toggle="modal" data-target="#getLeadModal" style="display: none;" id="btn-modal">btn</a>
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="img-logo-div">
                        <div class="wl-cm">
                            <img src="assets/images/yel-arrow.png" class="img-fluid">
                            <h2>WELCOME <span>TO</span> <span>THE</span></h2>
                            <img src="assets/images/smart-text.png" class="img-fluid smrt">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a href="javascript:void(0)" (click)="checkAuth()">
        <section class="newo-join">
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        <div>
                            <img src="assets/images/newo-cln.webp" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="join-div">
                            <!-- <a href="#">Join Now</a> -->
                            <!-- <a href="javascript:void(0)"> -->
                            <a href="javascript:void(0)" class="join-a-tg" (click)="checkAuth()" *ngIf="isSubscribe">Enjoy Now</a>
                            <a href="javascript:void(0)" class="join-a-tg" (click)="checkAuth()" *ngIf="isNotSubscribe">Join Now</a>
                            <!-- </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </a>
    <!-- <section class="ml-sl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <owl-carousel-o [options]="customOptionsforNew" class="sl-im-pd" id="sl-img">
                        <ng-template carouselSlide>
                            <a routerLink="/about_multiplex">
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="assets/images/sl-1.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="assets/images/popcorn.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img" style="text-align:center; ">
                                        <img src="assets/images/multiplex-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a routerLink="/newsdesk">
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="assets/images/sl-2.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="assets/images/sl-icon-2.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img" style="text-align:center; ">
                                        <img src="assets/images/newsdesk-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a routerLink="/newostreet">
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="assets/images/sl-3.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="assets/images/sl-icon-3.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img" style="text-align:center; ">
                                        <img src="assets/images/street-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a routerLink="/nft">
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="assets/images/sl-4.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="assets/images/sl-icon-4.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img" style="text-align:center; ">
                                        <img src="assets/images/nft-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section> -->
    <section class="ml-sl">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a herf="javascript:void(0)" routerLink="/about_multiplex">
                        <div class="main-ml">
                            <div class="main-ml-img">
                                <img src="assets/images/multiplex.webp" class="img-fluid">
                            </div>
                            <div class="main-bl-text">
                                <P>MULTIPLEX</P>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a herf="javascript:void(0)" routerLink="/newsdesk">
                        <div class="main-ml">
                            <div class="main-ml-img">
                                <img src="assets/images/news.webp" class="img-fluid">
                            </div>
                            <div class="main-bl-text">
                                <P>NEWSDESK</P>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a herf="javascript:void(0)" routerLink="/newostreet">
                        <div class="main-ml">
                            <div class="main-ml-img">
                                <img src="assets/images/street.webp" class="img-fluid">
                            </div>
                            <div class="main-bl-text">
                                <P>STREET</P>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="grd-background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="assets/images/gra-img.png" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section class="smart-div">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <img src="assets/images/dev-newo-app-img.png" class="img-fluid"> -->
                    <img src="assets/images/dev-newo-app-img.webp" class="img-fluid clb-img-sm" data-toggle="modal" data-target="#dev-modal">
                </div>
            </div>
        </div>
    </section>
    <section class="celibraty-div">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <owl-carousel-o [options]="customOptionsforcelibraty" (translated)="getPassedData()" class="sl-im-pd" id="celb">
                        <ng-template carouselSlide>
                            <a href="#">
                                <div class="celibraty-main-div">
                                    <div class="celb-img">
                                        <img src="assets/images/cricketer.webp" class="img-fluid clb-img-sm" data-toggle="modal" data-target="#cricketer-modal">
                                        <!-- <video id="vid1" poster="assets/images/cricketer.jpg" width="100%" height="240" controls>
                                        <source src="/assets/video/johnty-rodes.mp4" type="video/mp4" /> -->
                                        <!-- </video> -->
                                        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                            Launch demo modal
                                          </button> -->
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a href="#">
                                <div class="celibraty-main-div">
                                    <div class="celb-img">
                                        <img src="assets/images/lara.webp" class="img-fluid clb-img-sm" data-toggle="modal" data-target="#lara-modal">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a href="#">
                                <div class="celibraty-main-div">
                                    <div class="celb-img">
                                        <img src="assets/images/sidh.webp" class="img-fluid clb-img-sm" data-toggle="modal" data-target="#sidth-modal">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <!-- <ng-template carouselSlide>
                            <a href="#">
                                <div class="celibraty-main-div">
                                    <div class="celb-img">
                                        <img src="assets/images/cricketer.jpg" class="img-fluid clb-img-sm">
                                        <div class="youtube-icon">
                                            <img src="assets/images/youtube-icon.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </ng-template> -->
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
    <section class="net_ott">
        <div class="container">
            <a href="javascript:void(0)" (click)="checkAuth('ott')">
                <div class="row">
                    <div class="col-4">
                        <div class="ot-net-img">
                            <img src="assets/images/net-ot.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-3"></div>
                    <!-- <div class="col-8">
                    <ul class="icon-ott">
                        <li><img src="assets/images/play-store.png" class="img-fluid"></li>
                        <li><img src="assets/images/apple-icon.png" class="img-fluid"></li>
                    </ul>
                </div> -->
                    <div class="col-5">
                        <div class="ot-icon-vd">
                            <img src="assets/images/ott-vd-icon.webp" class="img-fluid">
                        </div>
                    </div>
                </div>
                <!-- <a href="javascript:void(0)" (click)="checkAuth('ott')"> -->
                <div class="row">

                    <div class="col-6" *ngFor="let pData of latestPosterData | keyvalue">
                        <div class="ot-im-vd">
                            <img src="{{env.AWS_THUMB_URL+pData.value.thumb}}" class="img-fluid">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="round-st-box-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="javascript:void(0)" (click)="checkAuth('stars')">
                        <div class="round-st-bx">
                            <div class="row round-md-row">
                                <div class="col-4">
                                    <div class="net-st">
                                        <img src="assets/images/net-star.webp" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3 text-right">
                                    <img src="assets/images/round-sl-1.webp" class="img-fluid">
                                </div>
                                <div class="col-1">
                                    <div class="brd-border"></div>
                                </div>
                                <div class="col-2 pd-l-r">
                                    <div class="arrow-wt">
                                        <!-- <a href="javascript:void(0)" (click)="checkAuth('stars')"> -->
                                        <svg width="50%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                <style type="text/css">
                                                    .st0{fill-rule:evenodd;clip-rule:evenodd;}
                                                </style>
                                                <g>
                                                    <path class="st0" d="M352.3,208.5H49c-25.2,0-46.6,21.6-46.6,47l0,0c0,25.4,21.4,47,46.6,47h303.2l-70.5,69.9   c-17.6,19.1-17.6,48.3,0,66.1l0,0c18.9,19.1,47.8,19.1,65.4,0l147.2-148.7c1.3,0,1.3,0,2.5-1.3l0,0c7.5-7.6,12.6-19.1,12.6-29.2   l0,0v-1.3l0,0l0,0v-1.3l0,0l0,0v-1.3l0,0l0,0l0,0v-1.3l0,0l0,0V253l0,0l0,0l0,0l0,0l0,0l0,0v-1.3l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0   v-1.3l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0v-1.3l0,0l0,0c-1.3-10.2-5-19.1-12.6-26.7l0,0c-1.3,0-1.3-1.3-2.5-1.3L347.2,72.5   c-17.6-17.8-46.6-17.8-65.4,0l0,0c-17.6,17.8-17.6,47,0,66.1L352.3,208.5z" fill="#c3b5f2"></path>
                                                </g>
                                                </svg>
                                        <!-- <img src="assets/images/arrow.png" class="img-fluid"> -->
                                        <!-- </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0)" (click)="checkAuth('hash')">
                        <div class="round-st-bx">
                            <div class="row round-md-row">
                                <div class="col-4">
                                    <div class="net-st">
                                        <img src="assets/images/n-hastag.webp" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3 text-right">
                                    <img src="assets/images/round-sl-2.webp" class="img-fluid">
                                </div>
                                <div class="col-1">
                                    <div class="brd-border"></div>
                                </div>
                                <div class="col-2 pd-l-r">
                                    <div class="arrow-wt">
                                        <!-- <img src="assets/images/arrow.png" class="img-fluid"> -->
                                        <svg width="50%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                            <style type="text/css">
                                                .st0{fill-rule:evenodd;clip-rule:evenodd;}
                                            </style>
                                            <g>
                                                <path class="st0" d="M352.3,208.5H49c-25.2,0-46.6,21.6-46.6,47l0,0c0,25.4,21.4,47,46.6,47h303.2l-70.5,69.9   c-17.6,19.1-17.6,48.3,0,66.1l0,0c18.9,19.1,47.8,19.1,65.4,0l147.2-148.7c1.3,0,1.3,0,2.5-1.3l0,0c7.5-7.6,12.6-19.1,12.6-29.2   l0,0v-1.3l0,0l0,0v-1.3l0,0l0,0v-1.3l0,0l0,0l0,0v-1.3l0,0l0,0V253l0,0l0,0l0,0l0,0l0,0l0,0v-1.3l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0   v-1.3l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0v-1.3l0,0l0,0c-1.3-10.2-5-19.1-12.6-26.7l0,0c-1.3,0-1.3-1.3-2.5-1.3L347.2,72.5   c-17.6-17.8-46.6-17.8-65.4,0l0,0c-17.6,17.8-17.6,47,0,66.1L352.3,208.5z" fill="#c3b5f2"></path>
                                            </g>
                                            </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:void(0)" (click)="checkAuth('game')">
                        <div class="round-st-bx">
                            <div class="row round-md-row">
                                <div class="col-4">
                                    <div class="net-st">
                                        <img src="assets/images/n-games.webp" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3 text-right">
                                    <img src="assets/images/round-sl-3.webp" class="img-fluid">
                                </div>
                                <div class="col-1">
                                    <div class="brd-border"></div>
                                </div>
                                <div class="col-2 pd-l-r">
                                    <div class="arrow-wt">

                                        <!-- <img src="assets/images/arrow.png" class="img-fluid"> -->
                                        <svg width="50%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                <style type="text/css">
                                                    .st0{fill-rule:evenodd;clip-rule:evenodd;}
                                                </style>
                                                <g>
                                                    <path class="st0" d="M352.3,208.5H49c-25.2,0-46.6,21.6-46.6,47l0,0c0,25.4,21.4,47,46.6,47h303.2l-70.5,69.9   c-17.6,19.1-17.6,48.3,0,66.1l0,0c18.9,19.1,47.8,19.1,65.4,0l147.2-148.7c1.3,0,1.3,0,2.5-1.3l0,0c7.5-7.6,12.6-19.1,12.6-29.2   l0,0v-1.3l0,0l0,0v-1.3l0,0l0,0v-1.3l0,0l0,0l0,0v-1.3l0,0l0,0V253l0,0l0,0l0,0l0,0l0,0l0,0v-1.3l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0   v-1.3l0,0l0,0l0,0l0,0l0,0l0,0l0,0l0,0v-1.3l0,0l0,0c-1.3-10.2-5-19.1-12.6-26.7l0,0c-1.3,0-1.3-1.3-2.5-1.3L347.2,72.5   c-17.6-17.8-46.6-17.8-65.4,0l0,0c-17.6,17.8-17.6,47,0,66.1L352.3,208.5z" fill="#c3b5f2"></path>
                                                </g>
                                                </svg>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="dream-spin">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="dream-spin-img">
                        <img src="assets/images/newo-dream-spin.webp" class="img-fluid">
                        <p>Unlock your Fortune</p>
                    </div>
                    <div class="dream-spin-main">
                        <img src="assets/images/spiner-img.webp" class="img-fluid">
                    </div>
                    <!-- <div class="spin-date">
                        <p>Spin on 15th August</p>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="newo-inside">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="newo-in-h1">
                        <img src="assets/images/newo-lg.png" class="img-fluid"><span>INSIDES</span><span class="art_btn_sm"><img src="assets/images/ar-btn.png" class="img-fluid"></span>
                    </div>
                </div>
            </div>
            <div class="inside_div">
                <owl-carousel-o [options]="customOptionsforinside" class="sl-im-pd" id="inside_id">
                    <ng-template carouselSlide>
                        <div class="it_owl">
                            <img src="assets/images/newo-ins-1.png" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="it_owl">
                            <img src="assets/images/newo-ins-2.png" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="it_owl">
                            <img src="assets/images/newo-ins-1.png" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="it_owl">
                            <img src="assets/images/newo-ins-2.png" class="img-fluid">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </section> -->

</div>

<div class="modal fade" id="cricketer-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="getPassedData()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <video id="vid1" poster="assets/images/cricketer-modal_2.webp" width="100%" height="240" controls>
                <source src="/assets/video/johnty-rodes.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="lara-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="getPassedData()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <video id="vid4" poster="assets/images/lara-modal.webp" width="100%" height="240" controls>
                <source src="/assets/video/lara-dutta.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sidth-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="getPassedData()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <video id="vid3" poster="assets/images/sidh-modal.webp" width="100%" height="240" controls>
                <source src="/assets/video/sunil-grover.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dev-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="getPassedData()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <video id="vid2" poster="assets/images/dev-newo-app-img.webp" width="100%" height="240" controls>
                <source src="/assets/video/dev.mp4" type="video/mp4" autoplay/>
                </video>
            </div>
        </div>
    </div>
</div>
<div class="modal fade getmodal" id="getLeadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background: #f09;background: rgb(34, 1, 148);background: linear-gradient(149deg, rgba(34, 1, 148, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(139, 6, 251, 1) 100%);margin: 0px 20px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="wl-bonus">
                    <h1>WELCOME BONUS</h1>
                    <div class="wl-cm-gift">
                        <img src="assets/images/welcome-gt-img.png" class="img-fluid">
                    </div>
                    <div class="textarea-div">
                        <input type="text" class="form-control" aria-describedby="validatedInputGroupPrepend" required id="lead_coupon">
                        <span style="color:white; text-align:center; display:none; font-size: 20px;" id="leadcoupon_success">Congratulations</span>
                        <span style="color:white; text-align:center; display:none; font-size: 20px;" id="leadcoupon_failed">Opps Sorry</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="leadBonusModalApply()">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-welcomefooter></app-welcomefooter>