<div class="margin-div">
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="newo-img">
                        <img src="assets/images/logo.png" class="img-fluid">
                    </div>
                </div>
                <div class="offset-6 col-2 text-center">
                    <div class="round-img">
                        <a routerLink="/profile">
                            <img src="assets/images/face-round.png" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="img-logo-div">
                        <div class="wl-cm">
                            <img src="assets/images/yel-arrow.png" class="img-fluid">
                            <h2>WELCOME <span>TO</span> <span>THE</span></h2>
                            <img src="assets/images/smart-text.png" class="img-fluid smrt">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="newo-join">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div>
                        <img src="assets/images/newo-cln.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-6">
                    <div class="join-div">
                        <!-- <a href="#">Join Now</a> -->
                        <!-- <a href="javascript:void(0)"> -->
                        <a href="javascript:void(0)" class="join-a-tg" (click)="checkAuth()" *ngIf="isSubscribe">Enjoy Now</a>
                        <a href="javascript:void(0)" class="join-a-tg" (click)="checkAuth()" *ngIf="isNotSubscribe">Join Now</a>
                        <!-- </a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ml-sl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <owl-carousel-o [options]="customOptionsforNew" class="sl-im-pd" id="sl-img">
                        <ng-template carouselSlide>
                            <a routerLink="/about_multiplex">
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="assets/images/sl-1.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="assets/images/popcorn.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img" style="text-align:center; ">
                                        <!-- <span style="color:rgb(255, 255, 255); background-color: rgb(160, 14, 116); font-weight: bold; font-size: 14px; padding: 3px; border-radius: 5px;">MULTIPLEX</span> -->
                                        <img src="assets/images/multiplex-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a routerLink="/newsdesk">
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="assets/images/sl-2.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="assets/images/sl-icon-2.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img" style="text-align:center; ">
                                        <!-- <span style="color:rgb(255, 255, 255); background-color: rgb(160, 14, 116); font-weight: bold; font-size: 14px; padding: 3px;border-radius: 5px;">NEWSDESK</span> -->
                                        <img src="assets/images/newsdesk-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a routerLink="/newostreet">
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="assets/images/sl-3.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="assets/images/sl-icon-3.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img" style="text-align:center; ">
                                        <!-- <span style="color:rgb(255, 255, 255); background-color: rgb(160, 14, 116); font-weight: bold; font-size: 14px; padding: 3px;border-radius: 5px;">STREET</span> -->
                                        <img src="assets/images/street-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a routerLink="/nft">
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="assets/images/sl-4.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="assets/images/sl-icon-4.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img" style="text-align:center; ">
                                        <!-- <span style="color:rgb(255, 255, 255); background-color: rgb(160, 14, 116); font-weight: bold; font-size: 14px; padding: 3px;border-radius: 5px;">NFT ART</span> -->
                                        <img src="assets/images/nft-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
    <section class="grd-background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    <img src="assets/images/gra-img.png" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section class="smart-div">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <img src="assets/images/dev-newo-app-img.png" class="img-fluid"> -->
                    <img src="assets/images/dev-newo-app-img.png" class="img-fluid clb-img-sm" data-toggle="modal" data-target="#dev-modal">
                </div>
            </div>
        </div>
    </section>
    <section class="celibraty-div">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <owl-carousel-o [options]="customOptionsforcelibraty" (translated)="getPassedData()" class="sl-im-pd" id="celb">
                        <ng-template carouselSlide>
                            <a href="#">
                                <div class="celibraty-main-div">
                                    <div class="celb-img">
                                        <img src="assets/images/cricketer.jpg" class="img-fluid clb-img-sm" data-toggle="modal" data-target="#cricketer-modal">
                                        <!-- <video id="vid1" poster="assets/images/cricketer.jpg" width="100%" height="240" controls>
                                        <source src="/assets/video/johnty-rodes.mp4" type="video/mp4" /> -->
                                        <!-- </video> -->
                                        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                            Launch demo modal
                                          </button> -->
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a href="#">
                                <div class="celibraty-main-div">
                                    <div class="celb-img">
                                        <img src="assets/images/lara.jpg" class="img-fluid clb-img-sm" data-toggle="modal" data-target="#lara-modal">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <ng-template carouselSlide>
                            <a href="#">
                                <div class="celibraty-main-div">
                                    <div class="celb-img">
                                        <img src="assets/images/sidh.jpg" class="img-fluid clb-img-sm" data-toggle="modal" data-target="#sidth-modal">
                                    </div>
                                </div>
                            </a>
                        </ng-template>
                        <!-- <ng-template carouselSlide>
                            <a href="#">
                                <div class="celibraty-main-div">
                                    <div class="celb-img">
                                        <img src="assets/images/cricketer.jpg" class="img-fluid clb-img-sm">
                                        <div class="youtube-icon">
                                            <img src="assets/images/youtube-icon.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </ng-template> -->
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
    <section class="net_ott">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="javascript:void(0)" (click)="checkAuth('ott')">
                        <img src="assets/images/ott-bg-sm.png" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="round-st-box-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#">
                        <div class="round-st-bx">
                            <div class="row round-md-row">
                                <div class="col-4">
                                    <div class="net-st">
                                        <img src="assets/images/net-star.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-3 text-right">
                                    <img src="assets/images/round-sl-1.png" class="img-fluid">
                                </div>
                                <div class="col-1">
                                    <div class="brd-border"></div>
                                </div>
                                <div class="col-2">
                                    <div class="arrow-wt">
                                        <a href="javascript:void(0)" (click)="checkAuth('stars')">
                                            <img src="assets/images/arrow.png" class="img-fluid">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="round-st-bx">
                            <div class="row round-md-row">
                                <div class="col-4">
                                    <div class="net-st">
                                        <img src="assets/images/n-hastag.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-3 text-right">
                                    <img src="assets/images/round-sl-2.png" class="img-fluid">
                                </div>
                                <div class="col-1">
                                    <div class="brd-border"></div>
                                </div>
                                <div class="col-2">
                                    <div class="arrow-wt">
                                        <a href="javascript:void(0)" (click)="checkAuth('hash')">
                                            <img src="assets/images/arrow.png" class="img-fluid">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="round-st-bx">
                            <div class="row round-md-row">
                                <div class="col-4">
                                    <div class="net-st">
                                        <img src="assets/images/n-games.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-3 text-right">
                                    <img src="assets/images/round-sl-3.png" class="img-fluid">
                                </div>
                                <div class="col-1">
                                    <div class="brd-border"></div>
                                </div>
                                <div class="col-2">
                                    <div class="arrow-wt">
                                        <a href="javascript:void(0)" (click)="checkAuth('game')">
                                            <img src="assets/images/arrow.png" class="img-fluid">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="newo-inside">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="newo-in-h1">
                        <img src="assets/images/newo-lg.png" class="img-fluid"><span>INSIDES</span><span class="art_btn_sm"><img src="assets/images/ar-btn.png" class="img-fluid"></span>
                    </div>
                </div>
            </div>
            <div class="inside_div">
                <owl-carousel-o [options]="customOptionsforinside" class="sl-im-pd" id="inside_id">
                    <ng-template carouselSlide>
                        <div class="it_owl">
                            <img src="assets/images/newo-ins-1.png" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="it_owl">
                            <img src="assets/images/newo-ins-2.png" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="it_owl">
                            <img src="assets/images/newo-ins-1.png" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="it_owl">
                            <img src="assets/images/newo-ins-2.png" class="img-fluid">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </section>

</div>

<div class="modal fade" id="cricketer-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="getPassedData()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <video id="vid1" poster="assets/images/cricketer.jpg" width="100%" height="240" controls>
                <source src="/assets/video/johnty-rodes.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="lara-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="getPassedData()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <video id="vid4" poster="assets/images/lara.jpg" width="100%" height="240" controls>
                <source src="/assets/video/lara-dutta.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sidth-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="getPassedData()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <video id="vid3" poster="assets/images/sidh.jpg" width="100%" height="240" controls>
                <source src="/assets/video/sunil-grover.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dev-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="getPassedData()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <video id="vid2" poster="assets/images/dev-newo-app-img.png" width="100%" height="240" controls>
                <source src="/assets/video/dev.mp4" type="video/mp4" autoplay/>
                </video>
            </div>
        </div>
    </div>
</div>
<app-welcomefooter></app-welcomefooter>