.newo-bg a {
	text-align: center;
	display: block;
	color: #007bff;
	font-size: 13px;
	margin: 3px 0px 0px;
	
}

.newo-bg span {
	text-align: center;
	display: block;
	color: #007bff;
	font-size: 13px;
	margin: 3px 0px 0px;
	
}