
<app-welcomeheader></app-welcomeheader>
<div class="mt-bt">
<section class="sec-mt-bt" style="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="ml-img">
                    <img src="http://3.0.255.31/NS/assets/images/ml-img.jpg" class="img-fluid">
                </div>
                <div class="ml-text">
                    <h1>Newo Multiplex</h1>
                    <p>This is the world's digital multiplex! In this new fast paced world, speed and accessibility is a
                        priority. With Newo Multiplex, there will be no more waiting for films to get released in separate
                        countries on different dates. It is like multiplexes and theaters but much easier and more
                        convenient, which allows our users to have a digital multiplex right on their palm, and they can
                        watch the premier of shows, first day, first show, and newly released films from home, while
                        traveling or even from another part of the world. Users can avail this app and pay via NEWO
                        COIN.
                    </p>
                        <a class="lg-rt" routerLink="/login">Login</a>
                </div>
                <div class="ml-text">
                    <p>It is a sea of endless possibilities for not only the spectators, but also for the content creators
                        and producers, both established & budding. However, as per the market or economical
                        situation, people can make, release and view content anytime from anywhere!!!
                        </p>
                        <a class="lg-rt" routerLink="/signup">Join Us</a>
                </div>
                <div class="ml-text">
                    <h1>Newo Clan</h1>
                    <p>Newo Clan is the integral core of our entire virtual digital asset community.
                        All the people who will be a part of Newo Clan, will work as a momentous slice in our loyalty
                        benefits & would often receive AIRDROPS of NEWO COIN as a form of rewards, which in the
                        long-haul is going to uplift and revolutionize their lifestyle completely so that their future
                        becomes smart, tight, and delightful!
                        
                    </p>
                        <a class="lg-rt" routerLink="/login">Login</a>
                </div>
                <div class="ml-text">
                    <h1>Features available on Newo Clan:</h1>
                    <h6>1. Netwood OTT</h6>
                    <p>A myriad of diversified content which our viewers can enjoy in a variety of different
                        languages worldwide through this app. Our daily users will be awarded with benefits and
                        rewards simply by watching content on this OTT platform. You can avail this facility only
                        if you are a part of the Newo Clan.
                    </p>
                    <h6>2. Netwood Stars</h6>
                    <p>Content creators of copious kind can upload their content here directly and participate in
                        the world wide content creation. Here, we invite you to create fun videos to share with
                        your friends or anyone present in the space. Netwood Stars allows you to record and
                        edit mini, multi-clip videos with audio, effects, and new creative tools where both the
                        creators & the audience get to win redeemable NEWO COIN depending on views &
                        watch hour. The selection procedure will be held through review & voting & the star
                        creators will get an opportunity to have their big break by working on Netwood OTT
                        Originals' Productions. You can avail this facility only if you are a part of the Newo Clan.
                    </p>
                    <h6>3. Newo Games</h6>
                    <p>This is a skill-based gaming app. Participants can go solo, as well as compete and play
                        against each other. The winners shall receive lucrative awards and rewards. You can
                        avail this facility only if you are a part of the Newo Clan.
                        
                    </p>
                    <h6>4. Newo Hashtag</h6>
                    <p>Now become a world-famous influencer and collaborate with your favorite brands on
                        Newo Hashtag! For every collaboration, you will also receive interesting rewards. You
                        can avail this facility only if you are a part of the Newo Clan.
                        
                        
                    </p>
                        <a class="lg-rt" routerLink="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<app-welcomefooter></app-welcomefooter>

