<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--<link rel="stylesheet" href="../assets/css/main-index-style.css">  
      <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css">-->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

      

    <title>Rating Details</title>
  </head>
  <body class="home">
    <section class="header">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-8">
                  <a href="#">
                      <div class="logo">
                          <h1>Newo<span> Street</span></h1>
                      </div>
                  </a>
              </div>
              <div class="col-md-6 col-4"> 
                  <span class="sp-color" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                  <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="javascript:void(0)" routerLink="/" onclick="closeNav()"><i class="fa fa-home f-home" aria-hidden="true"></i></a>  
                    <a href="javascript:void(0)" routerLink="/creatorcontent" onclick="closeNav()">My Content</a>
                    <a href="javascript:void(0)" routerLink="/creatorcontentadd" onclick="closeNav()">Add Content</a>
                  </div>
                  
              </div>
          </div>  
      </div>
    </section>