<div class="mt-bt-blog">
    <app-welcomeheader></app-welcomeheader>

    <section class="sec-mt-bt2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ml-tran2">
                        <div class="col-12">
                            <div class="t-b-s-background">
                                <img src="{{env.AWS_BLOG_URL+blogimage}}" class="img-fluid img-fit">
                                <div class="t-b-s-box">
                                    <div class="row">
                                        <div class="col-9 blog_txt">
                                            <h2 class="ml-tx-h1">{{title}}</h2>
                                            <div class="social-share">
                                                <span class="social-share-title text-capitalize">Written by -
                                                    {{author}}</span>
                                            </div>
                                            <ul class="blog-list">
                                                <li><i class="fa fa-calendar"></i> {{date}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-3 blog_avatar_img pl-0">
                                            <img *ngIf="!blogAuthorImg" src="assets/images/avatar.png" class="img-fluid
                                            ">
                                            <img *ngIf="blogAuthorImg" src="{{env.AWS_BLOG_AUTHOR_URL+blogAuthorImg}}" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="t-b-s-text-p">{{text}}
                                    </div>

                                </div>
                            </div>
                            <div class="lg-rt-div">
                                <a routerLink="/blogs" class="lg-rt">Back to Blog</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-welcomefooter></app-welcomefooter>
</div>