<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a routerLink="/ottcne"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>  Cafe Netwood Episode</h2>  
                </div>
                <div class="col-md-6 col-2">
                    <p class="mp-p">3</p>
                </div>
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/shohorer-ushnotomo-dine-by-samantak-sinha-friends-yellow-taxi-stories" class="cf-txt-a-tag"><img src="assets/images/netwood/1786.jpg" class="img-fluid">
                            Shohorer Ushnotomo...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/chander-chumuk-by-samantak-sinha-friends-yellow-taxi-stories" class="cf-txt-a-tag"><img src="assets/images/netwood/1785.jpg" class="img-fluid">
                            Chander Chumuk by ...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/pine-gachher-chara-by-samantak-sinha-friends-yellow-taxi-stories" class="cf-txt-a-tag"><img src="assets/images/netwood/1784.jpg" class="img-fluid">
                            Pine Gachher Chara...</a>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/elomelo-caf-netwood-music-lounge-episode-3-yellow-taxi-stories" class="cf-txt-a-tag"><img src="assets/images/netwood/1783.jpg" class="img-fluid">
                            Elomelo | Café Ne...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/bhuley-thaka-by-samantak-sinha-friends-yellow-taxi-stories" class="cf-txt-a-tag"><img src="assets/images/netwood/1782.jpg" class="img-fluid">
                            Bhuley Thaka by Sa...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/ki-naame-deke-by-samantak-sinha-friends-yellow-taxi-stories" class="cf-txt-a-tag"><img src="assets/images/netwood/1781.jpg" class="img-fluid">
                            Ki Naame Deke by S...</a>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/azadir-gaan-by-samantak-sinha-friends-yellow-taxi-stories" class="cf-txt-a-tag"><img src="assets/images/netwood/1780.jpg" class="img-fluid">Azadir Gaan by Sam...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/dhadar-thekeo-jotil-tumi-by-samantak-sinha-friends-yellow-taxi-stories" class="cf-txt-a-tag"><img src="assets/images/netwood/1779.jpg" class="img-fluid">
                            Dhadar Thekeo Joti...</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/baishe-asharh-by-samantak-sinha-friends-yellow-taxi-stories" class="cf-txt-a-tag"><img src="assets/images/netwood/1778.jpg" class="img-fluid">
                            Baishe Asharh by S...</a>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                         
                        <a routerLink="/ottvideodetail/ami-rupe-tomaye-bholabona-by-samantak-sinha-friends-yellow-taxi-stories" class="cf-txt-a-tag"><img src="assets/images/netwood/1777.jpg" class="img-fluid"> 
                            Ami Rupe Tomaye Bh...</a>
                    </div>
                </div>
            </div>
        </div>
      </section>
<!-- <app-ottfooter></app-ottfooter> -->
<app-welcomefooter></app-welcomefooter>