<app-welcomeheader></app-welcomeheader>
<div class="mt-bt">
    <section class="sec-mt-bt">
        <div class="ml-tran">
            <!-- <p style="color: yellow; text-align: center; margin-top: 30%; font-size: 36px; font-weight: bolder;">Coming Soon</p> -->
            <div class="ml-txt">

                <div class="net-ot-bg-ch">
                    <h6>Newo Multiplex</h6>
                    <p>This is the world's digital multiplex! In this new fast paced world, speed and accessibility is a priority. With Newo Multiplex, there will be no more waiting for films to get released in separate countries on different dates. It is like multiplexes and theaters but much easier and more convenient, which allows our users to have a digital multiplex right on their palm, and they can watch the premier of shows, first day, first show, and newly released films from home, while traveling or even from another part of the world. Users can avail this app and pay via NEWO COIN. It is a sea of endless possibilities for not only the spectators, but also for the content creators and producers, both established & budding. However, as per the market or economical situation, people can make, release and view content anytime from anywhere!!!</p>
                </div>
                <div class="lg-rt-div">
                    <a class="lg-rt" routerLink="/newoclan">Explore</a>  
                </div>
            </div>
        </div>
    </section>
</div>
<app-welcomefooter></app-welcomefooter>
