<div class="campaign-bottom">
    <section class="header-main">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-8">
                    <div class="has-logo">
                        <span><img src="assets/logo/n-hastag.webp" class="img-fluid"></span>
                    </div>
                </div>
                <div class="col-md-4 col-4">
                    <div class="back_btn_div">
                        <a routerLink="/userprofile"><span>Back</span>
                            <div class="liquid"></div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <section class="body-middle-part mt-3" id="part3" *ngFor="let campaignDetails of AllcampaignListAll">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 col-5">
                                <div class="card-campain">
                                    <span></span>

                                    <ng-container *ngIf="campaignDetails.campaign_current_status=='Active';else second">
                                        <!-- <span style="color:green"></span> -->

                                        <div class="ribbon-wrapper">

                                            <div class="ribbon-front-new">
                                                Active
                                            </div>
                                            <div class="ribbon-edge-topleft"></div>
                                            <div class="ribbon-edge-topright"></div>
                                            <div class="ribbon-edge-bottomleft"></div>

                                        </div>
                                    </ng-container>

                                    <ng-template #second>
                                        <ng-container
                                            *ngIf="campaignDetails.campaign_current_status=='Upcoming';else third">
                                            <div class="ribbon-wrapper">

                                                <div class="ribbon-front-new-1">
                                                    Upcoming
                                                </div>
                                                <div class="ribbon-edge-topleft"></div>
                                                <div class="ribbon-edge-topright"></div>
                                                <div class="ribbon-edge-bottomleft"></div>

                                            </div>
                                        </ng-container>
                                    </ng-template>

                                    <ng-template #third>


                                        <div class="ribbon-wrapper">

                                            <div class="ribbon-front">
                                                Expired
                                            </div>
                                            <div class="ribbon-edge-topleft"></div>
                                            <div class="ribbon-edge-topright"></div>
                                            <div class="ribbon-edge-bottomleft"></div>

                                        </div>

                                        <!-- <span class="badge badge-pill badge-info">Expired</span> -->
                                    </ng-template>


                                </div>
                            </div>
                            <div class="col-md-8 col-7 payout-cla pl-0">
                                <ul>
                                    <li>
                                        <div class="button-new-pay">
                                            <span><i class="fa fa-inr"
                                                    aria-hidden="true"></i>{{campaignDetails.offer_name}}</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="button-new-hastag">
                                            <span>{{campaignDetails.social_name}}</span>
                                        </div>
                                    </li>
                                </ul>


                            </div>
                        </div>

                        <div class="container pd-container">
                            <div class="row">
                                <div class="col-md-6 col-5 hashtag_hash">
                                    <a>
                                        <img src="{{env.hashtag_campaign+ campaignDetails.campaign_image}}"
                                            class="img-fluid">
                                    </a>
                                    <!-- <span class="sp-has">{{campaignDetails.campaign_hashtag}}</span> -->
                                </div>
                                <div class="col-md-6 col-7">
                                    <div class="text-sec">
                                        <h1 class="sp-has">{{campaignDetails.campaign_hashtag}}</h1>
                                        <h6><b>{{campaignDetails.campaign_name}}</b></h6>

                                        <!-- <p [ngClass]="{'limitTextHeight': isReadMore}" (click)="showText()">
                                            <i>{{campaignDetails.campaign_objective}}</i>{{ isReadMore ? '': '' }}
                                        </p> -->
                                    </div>
                                </div>

                            </div>
                            <!-- <span class="sp-crd">{{campaignDetails.campaign_spl_note}}... </span> -->

                            <div class="row">
                                <div class="col-md-6 col-7">
                                    <div class="max-parti">
                                        <!-- <span><u>Max Participations</u>:{{campaignDetails.max_participate}}</span> -->
                                    </div>
                                </div>

                                <div class="col-md-6 col-5">

                                    <div class="back_btn_div-new">
                                        <a routerLink="/campaign/{{ campaignDetails.campaign_id }}"><span>
                                                View Details<span class="detail-icon"><img
                                                        src="assets/logo/left-arrow-btn.svg" alt=""
                                                        class="img-fluid"></span></span>
                                            <div class="liquid"></div>
                                        </a>
                                    </div>
                                </div>
                                <!-- <div class="col-md-8 col-4">
                                    <div class="detail-icon">
                                        <a routerLink="/campaign/{{ campaignDetails.campaign_id }}">
                                            <img src="assets/logo/left-arrow-btn.svg" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </section>


</div>


<app-welcomefooter></app-welcomefooter>