
    <div class="back_btn_div">
     <a href="javascript:void(0)">
         <!-- <span (click)="gamescore()">Back</span> -->
         <!-- <i (click)="gamescore()">Back</i> -->
         <button type="button" id="back_btn" (click)="gamescore()" class="new-btn-1">Back</button> 

         <div class="liquid"></div>
     </a>
 </div>

   <div class="play-dv"> 
        <iframe [src]="final_url" style="height: 400px; width: -webkit-fill-available;" frameborder="0" scrolling="no"></iframe>
   </div>

 