<app-welcomeheader></app-welcomeheader>
<div class="mt-bt">
    <section class="sec-mt-bt">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ml-tran">
                        <h4>About Us</h4>
                        <div class="ml-text">
                            <p>We are your one stop destination for trading your virtual digital assets, streaming the best of universal entertainment, TV shows, news & movies, skill based gaming, and great shopping experience in the form of a light app
                                with faster load time & wide selection across categories.
                            </p>
                            <p style="color: #f18d1d;font-size: 17px;"> Features:</p>
                        </div>

                        <div class="ml-text">
                            <div class="net-ot-bg-ch">
                                <h1>Newo Exchange</h1>
                                <p>An exciting place where you get only top-notch virtual digital assets along with our personal Newo coin, which in itself is a BEP 20 token.
                                </p>
                                <!-- <a class="lg-rt" routerLink="/login">Login</a> -->
                            </div>
                        </div>
                        <div class="ml-text">
                            <div class="net-ot-bg-ch">
                                <h1>Newo Clan</h1>
                                <p>Newo Clan is the integral core of our entire virtual digital asset community.
                                </p>
                                <!-- <a class="lg-rt" routerLink="/login">Login</a> -->
                            </div>
                            <div class="ml-text">
                                <div class="net-ot-bg-ch">
                                    <h1>Newo Multiplex</h1>
                                    <p>A virtual multiplex in service of common people as well as content creators & producers. Looking for the most talked about TV shows and movies from around the world? They’re all here
                                    </p>
                                    <!-- <a class="lg-rt" routerLink="/signup">Join Us</a> -->
                                </div>
                            </div>
                            <div class="ml-text">
                                <div class="net-ot-bg-ch">
                                    <h1>Newo Newsdesk</h1>
                                    <p>A News aggregation service that combines trusted global news sources and presents verified facts in a concise manner.
                                    </p>
                                    <!-- <a class="lg-rt" routerLink="/login">Login</a> -->
                                </div>
                            </div>
                            <div class="ml-text">
                                <div class="net-ot-bg-ch">
                                    <h1>Newo Street</h1>
                                    <p>Multi-vendor marketplace NEWO STREET enables any entrepreneur to set up their stores on the platform & sell anything to customers worldwide. The customers here will not only be spoilt with choices but they can also
                                        use our own personal NEWO COIN as payment option.
                                    </p>
                                </div>
                                <!-- <a class="lg-rt" routerLink="/login">Login</a> -->
                            </div>
                        </div>
                        <div class="ml-text">
                            <p>Not your basic virtual digital asset exchange. We don’t just attract investors, traders as well as newbie first time investors who would feel confident in investing their money in a token that is tied to a variety of products,
                                but do it with conviction, power punched with high voltage entertainment & amusement.
                            </p>
                            <p>NEWO, the leap towards a smart, tight & delightful future.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-welcomefooter></app-welcomefooter>