<div class="mt-bt">
    <app-welcomeheader></app-welcomeheader>

        <div class="features-list-new hero-section-new moving" style="color: white; padding: 25px;">
            <div class="moving-bg"></div>
            <div class="who-we-contant">
            
                <p class="w-text fadeInUp" data-wow-delay="0.4s">Netwood Entertainment Industry was created in the year 2019 with the intention of creating an online worldwide platform where good content will be created along with providing work to talented and gifted individuals, whilst simultaneously creating a big community of people who are fond ofthe entertainment industry.</p> 
                <p class="w-text fadeInUp" data-wow-delay="0.4s">We faced multiple difficulties because of the pandemic, but we kept moving forward, and right now in 2021 we are still striving with a community of 1Billion plus people and growing. Our well-wishers, followers, participants, and ourusers have immensely supported us.</p>  
                <p class="w-text fadeInUp" data-wow-delay="0.4s">We have groomed and started hosting the talent hunt successfully too in between the pandemic, though it would've been a lot smoother if the greatest enemy in the world hadn't hit us. We quickly realized, the pre and post pandemic world is very different from one another, and the online world is the newfuture.</p>
                <p class="w-text fadeInUp" data-wow-delay="0.4s">What we started initially keeping only India and the Entertainment industry in mind, started seeming like soon the whole world can be a part of this new growing community! Humans are suffering immensely post pandemic, with regards to many different fields of work and the only way to move forward and help this situation is to join hands with NEWO. Becoming a part of Newo Clan will enable you to be a part of the next big revolution which is NEWO Coin cryptocurrency.</p>
            </div>
            
        </div>
    <app-welcomefooter></app-welcomefooter>
</div>
