<app-ottheader></app-ottheader>
<div class="ot-ection" style="margin-bottom: 74px;">
    <section class="banner">
        <owl-carousel-o [options]="bannerOptions">
            <ng-template carouselSlide *ngFor="let bData of bannerData | keyvalue">
                <a (click)="videoDetail($event,bData.value.id)">
                    <div class="slide">
                        <img src="{{env.AWS_POSTER_URL+bData.value.poster}}" class="img-fluid">
                    </div>
                </a>
            </ng-template>
        </owl-carousel-o>
    </section>
    <!-- <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <h3 class="rs-h3-cl"><a routerLink="/ottcne">Browse by Episodes</a></h3>
                        </div>
                    </div>
                    <owl-carousel-o [options]="resumeOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1923.jpg" [routerLink]="['/ottvideotype']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1922.jpg" [routerLink]="['/ottvideotype1']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1921.jpg" [routerLink]="['/ottvideotype2']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1920.jpg" [routerLink]="['/ottvideotype3']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1919.jpg" [routerLink]="['/ottvideotype4']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1918.jpg" [routerLink]="['/ottvideotype5']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <h3 class="rs-h3-cl"><a routerLink="/ottvideowmd">Netwood WMD</a></h3>
                        </div>
                    </div>
                    <owl-carousel-o [options]="resumeOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1741.jpg" [routerLink]="['/ottvideodetail/fragile-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1739.jpg" [routerLink]="['/ottvideodetail/danse-acoustica-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1737.jpg" [routerLink]="['/ottvideodetail/chupi-chupi-raat-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1735.jpg" [routerLink]="['/ottvideodetail/amar-haat-bandhibi-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1738.jpg" [routerLink]="['/ottvideodetail/tumbando-cana-spanish-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1742.jpg" [routerLink]="['/ottvideodetail/esho-bondhu-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section> -->
    <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <h3 class="rs-h3-cl"><a routerLink="/ottshorts">Shorts</a></h3>
                        </div>
                    </div>
                    <owl-carousel-o [options]="resumeOptions">
                        <ng-template carouselSlide *ngFor="let sData of shortsData | keyvalue">
                            <div class="slide">
                                <a (click)="videoDetail($event,sData.value.id)"><img src="{{env.AWS_THUMB_URL+sData.value.thumb}}" class="img-fluid"></a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
    <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <h3 class="rs-h3-cl"><a>Music</a></h3>
                        </div>
                    </div>
                    <owl-carousel-o [options]="resumeOptions">
                        <ng-template carouselSlide *ngFor="let mData of musicData | keyvalue">
                            <div class="slide">
                                <a (click)="videoDetail($event,mData.value.id)"><img src="{{env.AWS_THUMB_URL+mData.value.thumb}}" class="img-fluid"></a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>                    
                </div>
            </div>
        </div>
    </section>
</div>
<app-welcomefooter></app-welcomefooter>