<app-ottheader></app-ottheader>
<div class="ot-ection" style="margin-bottom: 74px;">
    <section class="banner">
         <owl-carousel-o [options]="bannerOptions">
            <ng-template carouselSlide *ngFor="let bData of bannerData | keyvalue">
                <a (click)="videoDetail($event,bData.value.id)">
                    <div class="slide">
                        <img src="{{env.AWS_POSTER_URL+bData.value.poster}}" class="img-fluid">                         
                    </div>
                </a>
            </ng-template> 
        </owl-carousel-o> 
    </section> 
    <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <h3 class="rs-h3-cl">
                                <a>Resume Watching</a>
                            </h3>
                        </div>
                    </div>
                    <owl-carousel-o [options]="resumeOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="assets/images/netwood/1737.jpg" [routerLink]="['/ottvideodetail/chupi-chupi-raat-netwood-world-music-day']">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="assets/images/netwood/1776.jpg" [routerLink]="['/ottvideodetail/recorder']">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="assets/images/netwood/1757.jpg" [routerLink]="['/ottvideodetail/shree-i']">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="assets/images/netwood/1738.jpg" [routerLink]="['/ottvideodetail/tumbando-cana-spanish-netwood-world-music-day']">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="assets/images/netwood/1881.jpg" [routerLink]="['/ottvideodetail/asthir-ayena-by-anindya']">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="assets/images/netwood/1883.jpg" [routerLink]="['/ottvideodetail/sokatore-oi-by-sahana']">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>  
        </div>
    </section>
    <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <h3 class="rs-h3-cl"><a routerLink="/ottcne">Browse by Episodes</a></h3>
                        </div>
                        <div class="col-md-3 col-4">
                            <a routerLink="/ottcne" class="se-m">See More</a>    
                        </div>
                    </div>
                    <owl-carousel-o [options]="resumeOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1923.jpg" [routerLink]="['/ottvideotype']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1922.jpg" [routerLink]="['/ottvideotype1']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1921.jpg" [routerLink]="['/ottvideotype2']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1920.jpg" [routerLink]="['/ottvideotype3']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1919.jpg" [routerLink]="['/ottvideotype4']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1918.jpg" [routerLink]="['/ottvideotype5']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>  
        </div>
    </section>
    <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <h3 class="rs-h3-cl"><a routerLink="/ottvideowmd">Netwood WMD</a></h3>
                        </div>
                        <div class="col-md-3 col-4">
                            <a routerLink="/ottvideowmd" class="se-m">See More</a>
                        </div>
                    </div>
                    <owl-carousel-o [options]="resumeOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1741.jpg" [routerLink]="['/ottvideodetail/fragile-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1739.jpg" [routerLink]="['/ottvideodetail/danse-acoustica-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1737.jpg" [routerLink]="['/ottvideodetail/chupi-chupi-raat-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1735.jpg" [routerLink]="['/ottvideodetail/amar-haat-bandhibi-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1738.jpg" [routerLink]="['/ottvideodetail/tumbando-cana-spanish-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1742.jpg" [routerLink]="['/ottvideodetail/esho-bondhu-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>  
        </div>
    </section>
    <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <!-- <h3 class="rs-h3-cl"><a href="#">Recommended</a></h3> -->
                            <h3 class="rs-h3-cl"><a>Recommended</a></h3>
                        </div>
                        <!-- <div class="col-md-3 col-4">
                            <a href="#" class="se-m">See More</a>
                        </div> -->
                    </div>
                    <owl-carousel-o [options]="resumeOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/cafe-seven-5.jpg" [routerLink]="['/ottvideodetail/boshonto-eshe-geche-by-lagnajita']"  class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1855.jpg" [routerLink]="['/ottvideodetail/teri-soorat-by-mayookh']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1736.jpg" [routerLink]="['/ottvideodetail/besame-mucho-netwood-world-music-day']"  class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1767.jpg" [routerLink]="['/ottvideodetail/bhalobasha-jaak-by-somlata-and-the-aces']"  class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1764.jpg" [routerLink]="['/ottvideodetail/shesh-belay-by-somlata-and-the-aces']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1737.jpg" [routerLink]="['/ottvideodetail/chupi-chupi-raat-netwood-world-music-day']"  class="img-fluid"></a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>                    
                </div>
            </div>  
        </div>
    </section>
    <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <h3 class="rs-h3-cl"><a routerLink="/ottshorts">Shorts</a></h3>
                        </div>
                        <div class="col-md-3 col-4">
                            <a routerLink="/ottshorts" class="se-m">See More</a>
                        </div>
                    </div>
                    <owl-carousel-o [options]="resumeOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1776.jpg" [routerLink]="['/ottvideodetail/recorder']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1757.jpg" [routerLink]="['/ottvideodetail/shree-i']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1744.jpg" [routerLink]="['/ottvideodetail/the-common-mind']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1743.jpg" [routerLink]="['/ottvideodetail/blind-date']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1733.jpg" [routerLink]="['/ottvideodetail/kaarigar']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1732.jpg" [routerLink]="['/ottvideodetail/myself']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>  
        </div>
    </section>
    <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <h3 class="rs-h3-cl"><a>Recently Added</a></h3>
                        </div>
                        <!-- <div class="col-md-3 col-4">
                            <a href="#" class="se-m">See More</a>
                        </div> -->
                    </div>
                    <owl-carousel-o [options]="resumeOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1739.jpg" [routerLink]="['/ottvideodetail/danse-acoustica-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1881.jpg" [routerLink]="['/ottvideodetail/asthir-ayena-by-anindya']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1741.jpg" [routerLink]="['/ottvideodetail/fragile-netwood-world-music-day']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1856.jpg" [routerLink]="['/ottvideodetail/on-my-tab-by-mayookh']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1779.jpg" [routerLink]="['/ottvideodetail/dhadar-thekeo-jotil-tumi-by-samantak-sinha-friends-yellow-taxi-stories']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1754.jpg" [routerLink]="['/ottvideodetail/microphone-by-underground-authority']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>  
        </div>
    </section>
    <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <h3 class="rs-h3-cl"><a>Music</a></h3>
                        </div>
                    </div>
                    <owl-carousel-o [options]="resumeOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/cafe-seven-6.jpg"  [routerLink]="['/ottvideodetail/ektara-by-lagnajita']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1777.jpg" [routerLink]="['/ottvideodetail/ami-rupe-tomaye-bholabona-by-samantak-sinha-friends-yellow-taxi-stories']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1857.jpg" [routerLink]="['/ottvideodetail/next-order-by-mayookh']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1874.jpg" [routerLink]="['/ottvideodetail/shudhu-by-anindya']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/cafe-seven-4.jpg" [routerLink]="['/ottvideodetail/biya-legeche-by-lagnajita']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <a href="javascript:void(0);"><img src="assets/images/netwood/1886.jpg" [routerLink]="['/ottvideodetail/kotobar-bhebechinu-by-sahana']" class="img-fluid"></a>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>  
        </div>
    </section>
</div>
<app-welcomefooter></app-welcomefooter>