
section {
    font-family: 'Roboto', sans-serif;
}
.header{
    position: relative !important;
    z-index: 999 !important;
}
.rg-section {
    padding: 10px 0px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.rs-h3-cl a {
    color: #ffc107;
    font-size: 17px;
    display: block;
}
.se-m {
    color: #fff;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.cafe-netwood {
    padding: 10px 20px;
    background: #fff;
    color: #000;
    display: inline-block;
    border-radius: 6px;
    margin: 10px 20px 0px;
    font-weight: 600;
}

 /*-----------------------------------------------------------------   WATCH & WIN START ---------------------------------------------*/

 .super_ott_coin {
    padding: 0;
    margin: 0;
    background-color: #000000;
    text-align: center;
}

.ott_coin {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    background-image: linear-gradient( to right, #ca9b64 0, #dabb8c 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #dabb8c 78%, #ca9b64 100%);
    color: transparent;
    -webkit-background-clip: text;
}


/*-----------------------------------------------------------------   WATCH & WIN END ---------------------------------------------*/

    



