<app-ottheader></app-ottheader>
<div class="sec-dv">
      <section class="pl-video">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="rt-video-div" id="vid_div">
                    </div>
                </div>
            </div> 
            <div class="row mt-bd-watch">
                <div class="col-md-4 col-4">
                    <div class="play-im">  
                        <img src="http://13.250.124.206/uploads/user_image/{{addedby}}.jpg" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-8 col-8">
                    <div class="play-im-text mt-4">
                        <p>{{name}}<span> {{total_video}} Videos</span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="vdya-div">
                        <h3>{{title}}</h3>
                        <ul>
                            <li>
                                <button type="button" class="btn btn-lv" data-toggle="modal" data-target="#heart-md">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-lv" data-toggle="modal" data-target="#clock-md">
                                    <i class="fa fa-clock-o"></i>
                                </button>
                            </li>
                            <li>||</li>
                            <li>
                                <button type="button" class="btn btn-danger">
                                    HD
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="vdya-str">
                        <p>Starring : <a href="#">{{name}}</a></p>
                        <p>Genre : <a href="#">{{genre}}</a></p>
                        <p>Video Type : <span id="vid_tag"></span></p>
                    </div>
                </div>
            </div>   
        </div>
      </section>
      <section class="rg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-9 col-8">
                            <h3 class="rs-h3-cl"><a href="#">You May Like</a></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-1.jpg" class="img-fluid">
                                </a>
                                <a href="#">Dhingana Dhingana</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-2.jpg" class="img-fluid">
                                </a>
                                <a href="#">O Bondhu Tumi Shu</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-3.jpg" class="img-fluid">
                                </a>
                                <a href="#">Mon Majhi Re</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-4.jpg" class="img-fluid">
                                </a>
                                <a href="#">Dheeme Dheeme</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-5.jpg" class="img-fluid">
                                </a>
                                <a href="#">Raid:Nit Khair</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-6.jpg" class="img-fluid">
                                </a>
                                <a href="#">Mundiyan</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-7.jpg" class="img-fluid">
                                </a>
                                <a href="#">Dilbar</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-8.jpg" class="img-fluid">
                                </a>
                                <a href="#">Stree:Milegi Mile</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-9.jpg" class="img-fluid">
                                </a>
                                <a href="#">Tension Wali Raat</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-10.jpg" class="img-fluid">
                                </a>
                                <a href="#">Bharat:Zinda Hu M</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-11.jpg" class="img-fluid">
                                </a>
                                <a href="#">Stree:Kamariya</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="rg-img">
                                <a href="#">
                                    <img src="assets/images/netwood/wt-12.jpg" class="img-fluid">
                                </a>
                                <a href="#">Uchi He Building</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
      </section>
    </div>  
      <!-- Modal -->
        <div class="modal fade md-op" id="heart-md" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
              </div>
              <div class="modal-body">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                  <h2>OPPS!</h2>
                  <p>Already exist on your Favorite list.</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button> 
              </div>
              <!--<div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>-->
            </div>
          </div>
        </div>
      <div class="modal fade md-op" id="clock-md" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
              </div>
              <div class="modal-body">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                  <h2>OPPS!</h2>
                  <p>Already exist on your Favorite list.</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button> 
              </div>
              <!--<div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>-->
            </div>
          </div>
        </div>



<app-ottfooter></app-ottfooter>
