<app-welcomeheader></app-welcomeheader>
    <div class="mt-bt">
        <section class="sec-mt-bt">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="ml-tran">
                            <div class="ml-text">
                                <h1>Newo Hashtag</h1>
                                <p>Now become a world-famous influencer and collaborate with your favorite brands on Newo Hashtag! For every collaboration, you will also receive interesting rewards. You can avail of this facility only if you are a part of the Newo Clan.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<app-welcomefooter></app-welcomefooter>
