<app-welcomeheader></app-welcomeheader>
<div class="mt-bt">
    <section class="sec-mt-bt">
        <div class="ml-tran">
            <!-- <p style="color: yellow; text-align: center; margin-top: 30%; font-size: 36px; font-weight: bolder;">Coming Soon</p> -->
            <div class="contact_info mt-s text-center fadeInUp mt-3" data-wow-delay="0.4s" style="color: white;">

                <div class="net-ot-bg-ch">
                    <h5>CONTACT US</h5>
                    <p style="text-align: center;">Head Quarter: Mumbai, INDIA, Asia Pacific Region</p>

                    <p style="text-align: center;">admin@newocoin.com</p>
                    <p style="text-align: center;"><i>Proudly Made In India </i> <img src="/assets/images/flag.png" alt="flag" width="32" height="32"></p>
                    <div class="row">
                        <div class="col-6">
                            <a routerLink="/privacy" class="prv-pol">Privacy Policy</a>
                        </div>
                        <div class="col-6">
                            <a routerLink="/terms" class="terms-co">Terms & Conditions</a>
                        </div>
                    </div>
                        
                        
                </div>
            </div>
        </div>
    </section>
</div>
<app-welcomefooter></app-welcomefooter>