<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a routerLink="/ottcne"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>  Cafe Netwood Episode</h2>  
                </div>
                <div class="col-md-6 col-2">
                    <p class="mp-p">2</p>
                </div>
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1771.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/tomar-ghawre-by-somlata-and-the-aces" class="cf-txt-a-tag">
                            Tomar Ghawre by So...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/tomar-ghawre-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1770.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/tumi-ashbe-boley-by-somlata-and-the-aces" class="cf-txt-a-tag">
                            Tumi Ashbe Boley b...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/tumi-ashbe-boley-by-somlata-and-the-aces']"class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1769.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/bhitor-o-bahire-by-somlata-and-the-aces" class="cf-txt-a-tag">
                            Bhitor O Bahire by...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/bhitor-o-bahire-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                        <img src="assets/images/netwood/1767.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/bhalobasha-jaak-by-somlata-and-the-aces" class="cf-txt-a-tag">
                            Bhalobasha Jaak by...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/bhalobasha-jaak-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1766.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/khola-hawa-by-somlata-and-the-aces" class="cf-txt-a-tag">
                            Khola Hawa by Soml...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/khola-hawa-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1765.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/sukanto-by-somlata-and-the-aces" class="cf-txt-a-tag">
                            Sukanto by Somlata...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/sukanto-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1764.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/shesh-belay-by-somlata-and-the-aces" class="cf-txt-a-tag"> Shesh Belay by Som...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/shesh-belay-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1763.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/hashte-dyakho-by-somlata-and-the-aces" class="cf-txt-a-tag">
                            Hashte Dyakho by S...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/hashte-dyakho-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1762.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/jagorawney-by-somlata-and-the-aces" class="cf-txt-a-tag">
                            Jagorawney by Soml...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/jagorawney-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1761.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/yaad-piya-ki-by-somlata-and-the-aces" class="cf-txt-a-tag"> 
                            Yaad Piya Ki by So...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/yaad-piya-ki-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1760.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/tumi-ebar-by-somlata-and-the-aces" class="cf-txt-a-tag">
                            Tumi Ebar by Somla...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/tumi-ebar-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1759.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/mayabono-by-somlata-and-the-aces" class="cf-txt-a-tag">Mayabono by Somlat...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/mayabono-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1758.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/egiye-de-by-somlata-and-the-aces" class="cf-txt-a-tag">Egiye De by Somlat...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['/ottvideodetail/egiye-de-by-somlata-and-the-aces']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
<!-- <app-ottfooter></app-ottfooter> -->
<app-welcomefooter></app-welcomefooter>