<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a href="/otthome"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>Short Films</h2>  
                </div>
                <!-- <div class="col-md-6 col-2">
                    <p class="mp-p">7</p>
                </div> -->
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1776.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/recorder" class="cf-txt-a-tag">Recorder</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/recorder']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1757.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/shree-i" class="cf-txt-a-tag">Shree & I</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/shree-i']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1744.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/the-common-mind" class="cf-txt-a-tag">The Common Mind</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/the-common-mind']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                        <img src="assets/images/netwood/1743.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/blind-date" class="cf-txt-a-tag">Blind Date</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/blind-date']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1733.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/kaarigar" class="cf-txt-a-tag">Kaarigar</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/kaarigar']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1732.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/myself" class="cf-txt-a-tag">Myself</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/myself']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1730.jpg" class="img-fluid"> 
                        <a href="../ottvideodetail/holud-jama-yellow-shirt" class="cf-txt-a-tag">Holud Jama (Yellow...</a>
                        <div class="premium-div">
                            <img src="assets/images/netwood/Premium.png" [routerLink]="['../ottvideodetail/holud-jama-yellow-shirt']" class="img-fluid"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
<app-ottfooter></app-ottfooter>
