<app-ottheader></app-ottheader>
      <section class="brow-child-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-10">
                    <h2 class="cf-h2"><span><a routerLink="/otthome"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>Short Films</h2>  
                </div>
            </div>  
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1776.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/recorder" class="cf-txt-a-tag">Recorder</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1757.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/shree-i" class="cf-txt-a-tag">Shree & I</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1744.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/the-common-mind" class="cf-txt-a-tag">The Common Mind</a>
                    </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                <div class="cf-img">
                        <img src="assets/images/netwood/1743.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/blind-date" class="cf-txt-a-tag">Blind Date</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1733.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/kaarigar" class="cf-txt-a-tag">Kaarigar</a>
                    </div>
                </div>
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1732.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/myself" class="cf-txt-a-tag">Myself</a>
                       </div>
                </div>
            </div>
            <div class="row mt-p-row">
                <div class="col-md-4 col-4 p-0">
                    <div class="cf-img">
                        <img src="assets/images/netwood/1730.jpg" class="img-fluid"> 
                        <a routerLink="/ottvideodetail/holud-jama-yellow-shirt" class="cf-txt-a-tag">Holud Jama (Yellow...</a>
                    </div>
                </div>
            </div>
        </div>
      </section>
<!-- <app-ottfooter></app-ottfooter> -->
<app-welcomefooter></app-welcomefooter>